[2021-01-03 21:14] guino opened #1 "ppsapp patch requests"
IF your ppsapp is not listed [HERE](https://github.com/guino/ppsapp-rtsp/issues/1), feel free to post your ppsapp patch requests here along with the firmwareversion information from http://admin:056565099@IP/devices/deviceinfo  for your device.

I will look at it when I have a chance and post it in the list above (and will remove it from here).

[2021-01-04 01:49] Dsm20001 opened #2 "Not sure whats Wrong"
Been lurking for a while now, and finally got this to work somewhat. Thing is I copy all the files over, and booted up the camera. go and check the string, It looks just like the one you posted. Go to do the hack link, to see if it was done, nothing comes up. Try to access the camera feed, still can't access it.  I'm probaly doing something wrong. but cant seem to get it to work even know if seems

[2021-01-04 02:03] guino commented on #2
Can you check if http://admin:056565099@IP/proc/self/root/tmp/hack returns anything?
If it shows a date, the hack worked and the only reason for the script not to run would be the SD card not being mounted by the time the script is called. I thought this could happen but tested a lot without issues but different hardware could behave differently so the only things I could suggest are:
* try changi

[2021-01-04 02:50] Dsm20001 commented on #2
Well, now I'm getting something, on the tmp hack link. however there is nothing written to the card, to where I can do the Patch, that i can see of, I'll keep plugging till i can get me another card to try.  Thu Jan  1 08:00:13 CST 1970 thats what I get

[2021-01-04 02:56] guino commented on #2
The 1970 date is expected in /tmp/hack that just means the commands are being executed (good), so the question is why initrun.sh isn't running -- it could be something in the script itself or, a bad script or something different on your hardware (though it looks similar).
can you post the results of these:
http://admin:056565099@ip/devices/deviceinfo (you can remove the keys)
http://admin:05656509

[2021-01-04 05:44] Dsm20001 commented on #2
mem=64M console=ttySAK0,115200n8 mtdparts=spi0.0:256k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,2496k(sys),4608k(app),640k(cfg) ppsAppParts=5 ip=0 - ip=60;/mnt/mmc01/initrun.sh)&:::::;date>/tmp/hack;(sleep

That is the  Cmd line
The Device information I get nothing, just constant loading
Hack line I get the Thu Jan 1 08:00:13 CST 1970
the Init I get nothing like the device information.

Files I h

[2021-01-04 15:26] guino commented on #2
@Dsm20001
Sorry there was a missing letter on this link, please post the result for http://admin:056565099@ip/devices/deviceinfo
http://admin:056565099@ip/proc/self/root/etc/init.d/S80network and http://admin:056565099@ip/proc/mounts

And provide file list again, this time as a screenshot - I am interested in seeing details like directory names, file types, etc. A zip of the files in the SD card (

[2021-01-04 18:24] Dsm20001 commented on #2
I reformatted my SD card with a different Format program, and it seems to have worked!!  No I just got to figure out the Patch, and hopefully find out a way one day to get my outdoor cameras the same way lol.

[2021-01-04 19:15] guino commented on #2
Thanks for the feedback, if your ppsapp isn't listed in https://github.com/guino/ppsapp-rtsp/issues/1 just post it in https://github.com/guino/Merkury720/issues/1 and I can patch it when I have a chance

[2021-01-04 19:21] solidssss commented on #1
You're amazing man! I'm so happy you finally got it working, you genius :)
Here's my firmwareversion:"ppstrong-a2-tuya2_teco-2.7.4.20191111" hardwareversion: S4C_A1_V10_1245 , model : Nedis camera (WIFICI20CGY)

Could you please patch my [ppsapp](http://www.google.com)?

[2021-01-04 20:01] dixnor opened #3 "Hack not workin with Merkury 720p"
Hi @guino, tried your new hack with 2 different SD cards and still having the same behavior, seems the env/hack/all other files are not executed at all.
This is the display of my /proc/cmdline

mem=23M  console=ttyAMA0,115200 loglevel=0 ppsdebug=off mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg),2240k(sys),5m(app),448k(cfg) ppsAppParts=5 ip=192.168.1.10:::255.255.255.0 eth=08:88:xx:

[2021-01-04 20:06] guino commented on #3
@dixnor can you post your http://admin:056565099@IP/devices/deviceinfo ? it does loook like your firmware is different than mine.
BTW: my cmdline shows 64M but the device itself only has 36M of RAM.

Also did you try the new steps to extract firmware file:
https://github.com/guino/BazzDoorbell/issues/11 (I added a different zip file that works on these cameras, or at least on mine)

[2021-01-04 20:08] guino commented on #3
@dixnor  was any of the SD cards you tried a Samsung brand ? (I know that worked on mine)

[2021-01-04 20:28] guino commented on #1
@solidssss your ppsapp patch is posted here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-754199410

[2021-01-04 21:33] dixnor commented on #3
@guino
yes used a Samsung 64GB and a cheap 2GB sd card, same result. Will try the other option to dump the ppsapp.
This is my deviceinfo:
**{"devname":"Smart Home Camera","model":"Mini 7C","serialno":"056938109","softwareversion":"2.7.2","hardwareversion":"MINI5C_V12","firmwareversion":"ppstrong-c4-tuya2_geeni-2.7.2.20190520"...

[2021-01-04 23:16] guino commented on #3
@dixnor that is even older than the one I have, though it also says Mini 7C hardware. The only reasons I can think of it not working are: 1-older/different bootloader with a different load address/commands OR 2-The SD card isn't being recognized by the bootloader (which happened with one of my SD cards).

This is kind of hail mary but may help if the issue is the bootloader address (and the bootlo

[2021-01-05 08:01] solidssss commented on #1
@guino Hmm, it's not working properly. I can enter the adresses http://user:password@IP:8080/cgi-bin/snap.cgi and http://user:password@IP:8080/cgi-bin/mjpeg.cgi, but they do not display anything, it's just empty. I've tried to get the RTSP stream in VLC and other softwares, but it's not working either.
http://192.168.1.9/proc/self/root/mnt/mmc01/hack says done.

[2021-01-05 15:07] guino commented on #1
@solidssss are you able to telnet into the device ?
I can double check the patch file -- I assume you used https://www.marcrobledo.com/RomPatcher.js/ to create the RTSP version of ppsapp and placed it in the root of SD card names as 'ppsapp' ?
Last, for mjpeg/snap.cgi these should work as long as busybox is working (even if you don't patch ppsapp) assuming you adjusted the addresses in the snap/mj

[2021-01-05 15:52] solidssss commented on #1
Oh sorry, I didn't know about the rompatcher. I took my home\app\ppsapp & ppsapp-rtsp.ips and patched them, put them on the root of the SD card as 'ppsapp' without any file extension but I still cannot get RTSP to work. I'm still supposed to keep the old ppsapp in the home\app\ folder right?

I had missed the part about patching the adresses of mjpeg/snap.cgi. After I patched the adreses it works!

[2021-01-05 16:12] guino commented on #1
that's progress nonetheless. After you copied ppsapp (the one you got from rom patcher) to the root of the SD card (as ppsapp) -- did you reboot the device ? You should hear the startup sound 2 times when the device boots -- RTSP should work after the second startup sound at rtsp://IP:8554 - please confirm you heard the startup sound 2 times and confirm the rtsp URL. I checked the patch and everyt

[2021-01-05 16:26] solidssss commented on #1
Yes, I rebooted after I placed the patched ppsapp. I do hear two startup sounds, but I cannot get anything with VLC, Home Assistant or Perfect IP Camera app.
The url I use is: rtsp://192.168.1.9:8554.
I tried to start  VLC with  --rtsp-tcp rtsp://192.168.1.9:8554 too, but it did not work.
I have blocked internet access to the camera btw, if that has anything to do with it.

[2021-01-05 16:53] guino commented on #1
Ok, you can't disable internet access to the device -- if you block it the device won't fully start (and won't start RTSP).

Please allow internet access to the device then try again. If that doesn't fix the issue we'll have to do some debugging, in which case: please do this:
1. Modify your line 10 of custom.sh changing `/mnt/mmc01/ppsapp &` to `/mnt/mmc01/ppsapp &> /mnt/mmc01/ppsapp.log &`
2. Re

[2021-01-05 17:29] solidssss commented on #1
Oh my god, it's working now! Thank you so much for your hard work @guino
I gave the camera internet access and now it works flawlessly with RTSP. It took like 2 minutes extra for it to fully boot and show RTSP feed though, but that's ok.

[2021-01-05 17:49] Dsm20001 commented on #1
softwareversion":"2.7.5","hardwareversion":"M7C_AK_V10_1245","firmwareversion":"ppstrong-a2-tuya2_geeni-2.7.5.20200520

--deleted--

If you would be so kind!

[2021-01-05 17:54] guino commented on #1
@solidssss These devices are very slow so yeah it takes some time for it to boot up entirely and startup the application completely. I appreciate your feedback and donation!

@Dsm20001 I'll take a look soon and post a patch for it.

[2021-01-05 19:16] guino commented on #1
@Dsm20001 should be done here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-754841429
Remember to use the https://www.marcrobledo.com/RomPatcher.js/ to patch your ppsapp into a rtsp enable version then copy it to the root of SD card as **ppsapp** and reboot.
If you want snap/mjpeg.cgi to work you also have to edit the files to set the address provided with the patch file.

[2021-01-05 20:49] Mathurian commented on #1
Hi guino! Thanks for all the work so far! I've searched the current patch list for both my firmware and ppsapp md5 and not seeing it there. Since I looked over what would be required to do the patch myself, and that's way outside my wheelhouse, here's the requested info for whenever you or someone else has the time:

"softwareversion":"2.7.5","hardwareversion":"M7C_AK_V10_1245","firmwareversion":"

[2021-01-05 20:51] guino commented on #1
@Mathurian I'll patch it soon.

[2021-01-05 21:01] guino commented on #1
@Mathurian this is done here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-754896349
Remember to use the https://www.marcrobledo.com/RomPatcher.js/ to patch your ppsapp into a rtsp enable version then copy it to the root of SD card as ppsapp and reboot.
If you want snap/mjpeg.cgi to work you also have to edit the files to set the address provided with the patch file.

[2021-01-05 21:07] Mathurian commented on #1
Awesome! Thank you!

[2021-01-07 05:52] Dsm20001 commented on #1
Thank you finally got it. I had to use a different Rom Patcher, but finally got it!!!! now if i can get my outdoor camera's the same way lol. Thank you so much!!!

[2021-01-09 21:24] Dsm20001 commented on #2
Sadly its another type of Merkury outdoor camera, that I cant seem to command line into. I'm sure someone will figure it out one day! lol

[2021-01-09 21:28] guino commented on #2
There’s a chance this hack may work on merkury cameras without working web requests — just try to apply it and see if a hack file and home directory is created on the SD card.

[2021-01-09 21:29] Dsm20001 commented on #2
I was thinking it may, I'll try it in a bit, and see, and let you know!

[2021-01-10 19:56] Dsm20001 commented on #2
No go on the hack. even tried the SD card that I knew for sure worked, and no go. Worth a try though.

[2021-01-10 20:00] guino commented on #2
Thanks for the feedback. Without a device to look at (UART side), there’s not a lot we can do.

[2021-01-10 20:13] Dsm20001 commented on #2
I'm gonna do a little digging, I just found internal pictures of it, and it seems to have the same ANYKA chip only difference is the chip is a V300, vs A V200 in the Mini camera. it seems to be almost identical in side. However can't seem to get it to respond to any command lines like the Mini Camera. https://fccid.io/2AG7C-BULLET4/Internal-Photos/Internal-Photos-4953793. I would try to see if I c

[2021-01-10 20:24] guino commented on #2
You could try #11 to read the firmware without opening it - it has the same anyka chip as other devices so chances are it runs similar OS/code.

[2021-01-12 13:33] StuDaBaiker commented on #3
I am also having this issue and have the same hardware revision. I tried the other ppsMmcTool and it did not work. I am also running firmware 2.7.2.

[2021-01-12 14:48] guino commented on #3
@StuDaBaiker did you also try dfferent brand SD cards ?

Without a device and without seeing a UART boot log when installing the patch I have no way of helping. Feel free to email me directly if you get UART access (requires opening+soldering+hardware) as I could give you some pointers.

[2021-01-12 21:55] StuDaBaiker commented on #3
@guino I only have Samsung Evo available atm. I do have a second one I could try but I haven't opened the package yet.

Do you know of a repository of firmware so I can upgrade to a specific version?

What hardware do I need if I want to take a look at the log?

If it's beyond me I would consider shipping you one. I really want to get rtsp working

[2021-01-12 22:49] guino commented on #3
There’s no firmware files available that I have seen for this device. All you can do is check for updates in whatever app you’re using (or try different apps) such as tuya, smart life, geeni, etc

If you want to look at the log you will need a TTL level serial adapter, soldering iron and likely be familiar enough to solder the wires and such. I would not mind taking a look if you shipped me a devi

[2021-01-14 01:48] russinnes commented on #1
Here's another Merkury 720 ppsapp - same version/firmware as your initial posting on this camera, but a different MD5 hash.
Needs patching.

Smart Home Camera - Mini7C
software version 2.7.3
hardware verison: M7C_AK_V10_1245
firmware: ppstrong-a2-tuya2_geeni-2.7.3.20190720
MD5: 0dbd3d62584d4b57cdc0764efd1d3110
--deleted--

[2021-01-14 01:50] guino commented on #1
@russinnes I will patch it soon.

[2021-01-14 04:26] guino commented on #1
@russinnes I think you may have got a bad copy of ppsapp (the one you posted above). It is mostly the same file as https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740389996 but there's a 64Kb section in the file that is different and appears to be all 'garbage'. This could be an issue with the SD card or just a side-effect from powering off the camera too fast after applying the hack (t

[2021-01-14 04:35] russinnes commented on #1
Good catch - Was just about to open it to patch it manually.
New MD5: b796c6f02abe9e278fbe40bdd27e64cb. Let me run it against your earlier patch . Ill let you know.

[2021-01-14 04:49] russinnes commented on #1
No Go - Here's round 2 attached (unpatched)
--deleted--

[2021-01-14 04:57] guino commented on #1
@russinnes This one has a different bad area, meaning: the part that was bad on the 1st one you posted is now ok, but there's a different section of the file that is bad. I am 100% sure now that the firmware is the same as the one I posted on https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-740389996 -- You may want to repeat the process above but instead of using /devices/reboot to rest

[2021-01-14 05:10] russinnes commented on #1
3rd time finally got the same MD5 as your initial patch. Out of interest (and perhaps the issue), this camera is paired with the generic tuya app - there is no setting for record. Upon detection of SD, it is always recording, with no option to turn it off. It wouldnt unmount via any normal means as it was constantly being written to. I ended up killing the ./ppsapp PID via telnet to finally get it

[2021-01-14 05:20] russinnes commented on #1
Like a charm - unbelievable. Good catch.

[2021-01-14 05:34] guino commented on #1
@russinnes yes, it records 24/7 by default with no settings in the tuya app but you can modify it on the json file like I did in my write up so it only records motion (or disable it). You can also turn off the LED and/or disable/force night mode (I did it to try), but like you said no settings in the app for any of that.

[2021-01-15 05:04] guino commented on #1
For anyone following the project I just uploaded some changes to snap.cgi/mjpeg.cgi along with a jpeg-arm file which should prevent the occasional image glitches that we had with the original version (which was very much a rig). The new version uses a custom written C application with a double buffer to verify the buffer/image wasn't changed by the device while reading it.

If you use snap.cgi/mjp

[2021-01-15 06:20] russinnes commented on #1
Ran the native app, an RTSP stream, and an mjpeg stream all simultaneously and only capped at ~65% cpu. Much cleaner than using dd! I'm going to add some custom motion detection scriptability to what you have done,  I've been digging around a little bit,  just need to dig out a VM with the arm toolchain to test.

[2021-01-15 22:08] guino commented on #1
@russinnes I updated jpeg-arm to find the end of the jpeg in the buffer and only transmit the latest jpeg data without any left over/previous data from the buffer. This seems to be working better with VLC and other applications that can view mjpeg (although I never had issues with firefox before).

[2021-01-26 21:17] bcmans commented on #1
--deleted--

Hope you can help me

Merkury 720p
evname | "Smart Home Camera"
-- | --
model | "Mini 7C"
serialno | "058312676"
softwareversion | "2.7.3"
hardwareversion | "M7C_AK_V10_1245"
firmwareversion | "ppstrong-a2-tuya2_geeni-2.7.3.20190917"

Hack is done

Could you please patch my ppsapp?

Thanks

[2021-01-26 21:46] guino commented on #1
@bcmans you forgot to zip/attach your ppsapp file so I can patch it.

[2021-01-26 21:52] bcmans commented on #1
@guino sorry.... just uploaded it....thanks!

[2021-01-26 22:15] guino commented on #1
@bcmans The patch for your ppsapp has been posted here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-767862491

[2021-01-27 18:38] russinnes opened #4 "Busybox version with more compiled features here!"
Here is an (almost entirely complete) compiled busybox for the armv5 arch. This can be a drop in replacement (after renaming), or leave it as is and run it's commands from telnet/script/etc by calling the binary (/mnt/mmc01/busybox-merkury [options] as needed. Provides much more functionality if you want to hack more together! Examples include, routing, ftpd, etc. I use it for FTP to retrieve imag

[2021-01-27 19:27] guino commented on #4
@russinnes this seems to be exactly the same busybox as I posted in the repo (https://github.com/guino/Merkury720/blob/main/mmc/busybox?raw=true):

[code]

Maybe you were posted the wrong file ?

[2021-01-27 19:31] russinnes commented on #4
Nope, although head scratching for the same md5. The applet functions are greatly expanded, load it up and have a look

Original:
        [, [[, arping, ash, awk, brctl, cat, chgrp, chmod, chown, chroot, cp,
        cut, date, df, dirname, dmesg, echo, env, expr, false, getty, grep,
        groups, halt, hostid, id, ifconfig, ifplugd, init, insmod, iostat,
        kill, linuxrc, ln, login, ls, lsm

[2021-01-27 21:45] bcmans commented on #4
telnet is there a how to that you have close by hand how to login to the camera?
thanks

[2021-01-27 21:55] guino commented on #4
@russinnes The output you provided for the 1st busybox is the one in the **firmware** not the one I posted on the repo which is the same one you posted:

[code]

[2021-01-27 21:57] guino commented on #4
@bcmans if you applied the hack correctly you can login to the camera with `telnet 192.168.x.x` using the IP of the camera, the user and password will be whatever you defined in the passwd file which should have been done in step 9 of https://github.com/guino/Merkury720

[2021-01-27 22:31] bcmans commented on #4
thanks I should have changed my question in how/what can i do with it. Will do a google about bussybox

[2021-01-27 22:35] guino commented on #4
@bcmans you don't have to learn about busybox for anything. The purpose of telnet is to login to the camera and have full access to do whatever you need which in our case was more for editing the tuya_config.json file but I have made that unnecessary with the 'set' file and the latest custom.sh file I posted here: https://github.com/guino/Merkury720/tree/main/mmc -- the latest custom.sh also calls

[2021-01-27 23:03] russinnes commented on #4
<using telnet>
<want ftp>
<list busybox functions>
<no ftp>
<also no telnet>
<still using telnet>
<thinking too quickly>
<hey, lets share a busybox build with ftp and telnet>
<still using telnet>
<facepalm.jpg>
</thread>

[2021-01-27 23:03] #4 closed

[2021-01-27 23:05] russinnes commented on #4
``

[2021-01-27 23:07] russinnes commented on #4
{using telnet}
{hey, need some ftp}
{busybox doesnt contain ftp}
{busybox also doesnt contain telnet}
{share busybox build with ftp (and telnet)}
{still using telnet}
{acting faster than brain}
{facepalm.jpg}
{/thread>

[2021-01-28 17:26] RobWilliamsLB opened #5 "Copying Files"
Am i supposed to copy the files from mmc/cgi-bin/ into the SD Card root directory?  Is what my SD card root directory looks like?  Also is exFat same as Fat 32? Sorry for all the bad questions.  I have attempted instructions but am unsuccessful to this point.

![image](https://user-images.githubusercontent.com/52054615/106175202-d6e63600-6163-11eb-8709-8f0c5cb04d48.png)

[2021-01-28 18:02] guino commented on #5
it should look like this:
[code]
And the main/mjpeg/cleanup/snap.cgi should be inside the cgi-bin directory.

exFAT is **not** the same thing as FAT32 and this probably be the reason why you can't get it to work. Make sure you use a tool that allows you to format in FAT32 (or use the app to format the SD card while it is in the device -- if available in your app). Also pay attention to the files y

[2021-01-29 17:56] RobWilliamsLB commented on #5
Thanks so much for you help and guidance!  It is now working and I am able to use my $7 merkury cam as a webcam!

[2021-02-01 00:06] JoelB commented on #2
I just wanted to add here that I had the same problem: the cmdline was changed as expected, but the init file wasn't being run and hack file wasn't being created. I had tried reformatting the SD card with Windows and formatting it using the camera itself, and neither worked. What ended up working was using Linux to delete the partition and create a new FAT32 partition. I'm not sure if it's the del

[2021-02-01 03:14] guino commented on #2
Thanks for reporting back, I do believe the bootloader may be more limited in what partition format and filesystem is recognized, so identifying the right tools can be of help - We can probably make a simple SD card image (with the right partition+format) that has the required files to install the hack. Just have to find a little time to research and see if it can make one of the non-working SD ca

[2021-02-08 14:18] russinnes opened #6 "Apply hack prior to upgrading to 2.7.6 for new users"
@guino - 2.7.6 came out today - and won't allow video stream in the app(s) until it is updated.
The new ppsapp is similar to the last update I posted for the  v2.10.x firmware for other cameras, they closed up port 80 on this one as well.
Good news - if the hack is already applied, everything still works fine. I have yet to patch the new 2.7.6 app but booting from SD {and thus launching busybox et

[2021-02-08 15:45] guino commented on #6
@russinnes After you posted this I opened the tuya app and while it shows the video it also shows a popup asking to update firmware (clicking cancel also closes the video feed). That being said, if I open the multi-camera view there's no popup and I can watch the video feed for the individual camera without limitations (just no playback features). I am going to take one last snapshot of the firmwa

[2021-02-08 16:19] guino commented on #6
https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-775262590 has the patch addresses for the 2.7.6 ppsapp -- I also patched it to open port 80 again.

[2021-02-08 16:21] guino commented on #6
It should be possible to apply the hack on 2.7.6 because we only use port 80 for 'confirmation' -- plus the generation of the /home/app/ppsapp on the SD card should be enough confirmation to apply the hack.

[2021-02-08 16:25] russinnes commented on #6
I have an vanilla camera still in a box, I may try to update it from stock to 2.7.6, and then do a blind flash using {env} on an SD card. It would be nice to confirm so if folks land here and know exactly which camera they have, they can blindly flash it, even if they have missed the boat prior to this latest firmware update.

[2021-02-08 16:30] guino commented on #6
That's cool, but there's no harm in you using https://github.com/guino/BazzDoorbell/issues/11 to copy the flash before updating so that if all else fails you can use https://github.com/guino/BazzDoorbell/issues/12 to put it back to 2.7.3 and install the hack before updating (again).

[2021-02-08 17:44] guino commented on #6
I got a copy of my latest 2.7.3 fw, updated to 2.7.6 and got a copy of that fw as well to compare. It seems the update flashed a new kernel and new ppsapp partition (kernel is different but same version). I also saved the log of the firmware download process from ppsapp which includes a download link to the latest firmware update (which I downloaded for future reference -- could be used to verify/

[2021-02-09 04:35] guino commented on #6
@russinnes so good news, I did some digging in the code and found a way to open port 80 on 2.7.6 -- I updated the instructions in https://github.com/guino/Merkury720 with a step to download/edit the ppsFactoryTool.txt file which allows opening port 80 (like it was before). I tested it on my device with 2.7.6 (without the hack) and port 80 opened like it was before. As long as that file is in the S

[2021-02-12 16:31] jjsmisbye commented on #6
I tried performing [guino/BazzDoorbell#12](https://github.com/guino/BazzDoorbell/issues/12) to downgrade my mini7C (Mercury 720p) from 2.7.6 to 2.7.3.  I used the flash dump that I created performing [guino/BazzDoorbell#11](https://github.com/guino/BazzDoorbell/issues/11) before the upgrade to 2.7.6.  I modified the write address in the ppsMmcTool.txt #12 to match the read address in #11 but I can

[2021-02-12 17:37] russinnes commented on #6
@jjsmisbye Depending what's on your SD card, if you have not moved a patched version of ppsapp into the SD card root, it will keep running the stock version. Also this new version blocks :80 so the first steps dont work any longer. Try editing your custom.sh on the SD card to ensure telnetd is running end enabled (/mnt/mmc01/busybox telnetd -l /bin/sh &) and try telnetting to its IP.
Just curious,

[2021-02-12 17:55] guino commented on #6
@jjsmisbye  the comments from @russinnes  are valid but I wrote https://github.com/guino/BazzDoorbell/issues/12 for the 2.9.x bootloader and I did not try it on 2.7.x hardware to verify if it would work. Just as https://github.com/guino/BazzDoorbell/issues/11 required different commands to read 2.7.x hardware I assume that different commands would also be required to write 2.7.x firmware. The main

[2021-02-12 20:56] jjsmisbye commented on #6
Thanks for your answers @guino and @russinnes.  I guess I'm mostly interested in the upgrade process, trying to map out what and how things happen.  How the upgrade file is packaged, etc.  I managed to also grab a copy of an upgrade file through some hooking on the phone app.  I'm digging around with ghidra and trying to figure some things.  This is an extra camera that I got for dirt cheap on sal

[2021-02-12 21:41] guino commented on #6
@jjsmisbye having the 2.7.3 flash as a backup is always a good idea. If you by any chance 'brick' the device you can use a hardware programmer or the UART to restore the flash backup -- both processes will require opening and soldering work to make it work but would restore operation of the firmware in case it got bricked. If you do connect the UART and want to play with that I can give you some p

[2021-02-15 18:12] jjsmisbye commented on #6
So good news/bad news.  I tried ```style=upgrade,,writeAddr=0,,password=nothing,,writeLen=0,,fileName=flash.bin;sf` probe;sf write 81808000 0 800000,,```  with a 0x00 byte at the end (which was missing from the ppsMmcTool.txt in Issue #12).  I check and made sure my flash.bin was also 8MB.  This got me over the hump, something definitely happened but left my cam unable to boot.  Fortunately, it wo

[2021-02-15 18:21] guino commented on #6
@jjsmisbye Well I am glad you didn't brick your camera, I mean, technically you did but got it restored. If you do figure out the upgrade.bin format that would be a good way to apply the hack to the cramfs without putting the bootloader in danger -- hopefully without requiring specifics of the device format (like partition sizes and such) ? Additionally this would allow the hack to work without a

[2021-02-23 16:29] jjsmisbye commented on #3
I have an ancient (early 2018) firmware for the c4 (MINI5C).
Is it possible that the load address for the c4-tuya2_geeni devices could be 0x80008000? My c4 cam is out of commission so I can't confirm but for my a2-tuya2_geeni cam, the Data address in the uImage section matched the load address that I had to use in the ppsMmcTool.txt scripts.

Binwalk of the old firmware:
[code]

[2021-02-23 17:01] guino commented on #3
@jjsmisbye the binwalk seems like it's missing an area for the boot loader so I assume this is just an **update** file ? If it's an update file the binwalk may be ok -- you should be able to try loading it by placing it in the SD card as upgrade.bin and adjusting ppsMmcTool.txt to have file=updgade.bin (then boot holding reset for 5 seconds). This should not cause problems -- it may not work if th

[2021-02-23 17:05] guino commented on #3
@jjsmisbye I just checked the few upgrade files I have managed to get and the ones that have the kernel do have matching address so chances are high the correct address is 80008000. In fact one of the files I have is: 1530687241-ppstrong-c4-tuya2-geeni-1.10.2.bin and also shows 80008000 as the address. It is usually pretty hard to get a copy of the upgrade file (without hacking it first) but this

[2021-02-23 17:28] jjsmisbye commented on #3
Oops, you are absolutely right about it being an upgrade file.   Unfortunately, I seem to have previously messed up my device beyond the point where I can bring it back.  Simply changing the address did not work for me but that's my fault for jumping in the deep end without knowing how to swim first.  I'm hoping the address can be verified by someone with a working c4 to dump out their firmware an

[2021-03-10 17:25] Ne3Mx opened #7 "Older variant of Merkury/Geeni 720 camera"
I've got an older version of the Merkury 720 camera where the hack does not work, I've successfully applied the hack to a newer Merkury 720 which works perfectly fine. The following is what I have done.
![image](https://user-images.githubusercontent.com/19650964/110670144-a1dbf300-81a7-11eb-9fe5-263b1865ec7a.png)
![image](https://user-images.githubusercontent.com/19650964/110670206-b6b88680-81a7-1

[2021-03-10 17:29] Nordtus commented on #3
I think it's because you may have an older Geeni 720 camera, I bought a new camera and the hack was successful. The hack does not work on my older 720 cameras. I've opened a new issue and hopefully we'll get it working!

[2021-03-10 17:41] guino commented on #7
@Ne3Mx Your flash chip is the chip on the bottom-left on the last picture posted (if you ever want to mess with it using a programmer).

I would be willing to bet money that your UART can be accessed using the 4 holes above the micro-SD card slot on the last picture. If you have some protoboard wires you can probably just insert RX,TX and Ground on these and connect them to a raspberry pi (or simi

[2021-03-10 17:47] guino commented on #7
This is how I accessed the UART on my device (similar holes) -- yellow is Ground in my case, I don't remember which is RX/TX but it's just a matter of trying one way and if doesn't work, switch RX/TX wires and try again:

![UART](https://raw.githubusercontent.com/guino/BazzDoorbell/master/img/uart.jpg)

[2021-03-10 18:34] Nordtus commented on #7
Ok! Hooking up to the UART I get the following output.

[code]
Holding in the reset button I get
[code]

[2021-03-10 20:23] guino commented on #7
@Ne3Mx The boot information wasn't very useful but you had a great idea to do the reset button while booting -- that was very helpful. The address for your camera is likely 0x81000000 so I'd like you to try the following:

1-Follow steps normally as if it was a new camera https://github.com/guino/Merkury720#rooting-and-customizng-the-device but STOP after step 2.
2-Unzip this zip file over the fil

[2021-03-10 20:28] guino commented on #7
@Ne3Mx if you'd like to 'read' your flash before making any changes (using: https://github.com/guino/BazzDoorbell/issues/11 ) you can follow the steps as listed there and instead of using the 'mini7c.zip' posted in the original instructions you can use this one:
[mini5c.zip](https://github.com/guino/Merkury720/files/6118689/mini5c.zip)

[2021-03-11 00:52] Nordtus commented on #7
Same problem, I'll do a dump of the ROM

[code]

[2021-03-11 01:19] Nordtus commented on #7
Dump of ROM was unsuccessful. Tried both Mini5C and Mini7C @ 0x81000000 and 0x81808000, no luck. Will try and read flash with programmer tomorrow.

[code]

And

[code]

[2021-03-12 23:54] guino commented on #7
@Ne3Mx  as a form of closure to this issue (or if you are just curious) I posted information on our work in this camera here: https://github.com/guino/Geeni720P

[2021-03-13 00:17] Ne3Mx commented on #7
Excellent writeup! Can you recommend some entry level courses on the work
that you do? Super impressed!

Will a firmware update wipe the mod?

Regards,
Neil

On Fri., Mar. 12, 2021, 20:24 Wagner, ***@***.***> wrote:

[2021-03-13 00:27] guino commented on #7
It is possible/likely to wipe the mod during a firmware update, because the hack isn’t being done in the boot loader which normally isn’t part of a firmware update.

You would have to reapply to the mod if that happens (I can help patch ppsapp).

[2021-03-13 00:50] guino commented on #7
@Ne3Mx anytime we modify the flash and do a firmware update it’s possible to lose the mod, this one would probably be wiped out since it is not a bootloader setting, so you would have to patch it again after a firmware update.

[2021-03-13 01:51] GhostlyCrowd opened #8 "Geeni Varian, cant get the hack to run. Tried alt boot location"
"devname":"Smart Home Camera","model":"Mini 7C","serialno":"XXXXXXXX","softwareversion":"2.7.7","hardwareversion":"MINI5C_V20B_H62","firmwareversion":"ppstrong-c4-tuya2_geeni-2.7.7.20210207"

2.7.7 closed port 80 but your work around to reopen it worked, i just cant get hacks installed.

Any ideas?

[2021-03-13 02:05] guino commented on #8
@GhostlyCrowd
From the information it shows mini 5c on the hardware section so I expect it to be like this:
https://github.com/guino/Merkury720/issues/7

And there’s no hack available, only known way is with a programmer: https://github.com/guino/Geeni720P

If you want to open the device, connect UART and/or programmer to try stuff we can, but otherwise not much we can do.

[2021-03-13 02:18] GhostlyCrowd commented on #8
I am willing to open the device, but thats for another night im sick of looking at this cheap camera for the night lol I will post back when im ready.  In the mean time i will review #7 further although my camera appears to be newer then that (reset button is at the side not middle back)

Whats easier for you uart or should i just dump the eeprom? (both i can do easily)

Just for reference this di

[2021-03-13 14:42] GhostlyCrowd commented on #8
Alright I've pulled the eeprom chip out, but im having an issue getting asprogrammer to indent it properly.

What utility did you use to dump the chip?

[2021-03-13 15:38] GhostlyCrowd commented on #8
Attached is the binwalk output Might be useful for #7 as well?
[output.txt](https://github.com/guino/Merkury720/files/6135045/output.txt)

[2021-03-13 16:16] GhostlyCrowd commented on #8
UART Output

[code]

[2021-03-13 16:23] guino commented on #8
@GhostlyCrowd this looks exactly like the one I saw at https://github.com/guino/Geeni720P so the same steps described in the link should work - if you like feel free to email me a zip of your flash and I can modify it for you. (Sorry for the late answer - just got up, the flash dump tool I used is flashrom from linux).

[2021-03-13 16:44] GhostlyCrowd commented on #8
That would be excellent im struggling with this Windows WSL linux

I am emailing you right now to your email on your git profile.  Thanks fellow Canuck, were actually not far off im in London.

[2021-03-13 16:49] guino commented on #8
@GhostlyCrowd That works. I don’t go to London often but it is cool to work with someone close by.

[2021-03-13 16:53] GhostlyCrowd commented on #8
Too bad we couldn't just patch in a Uboot that supports the run commands you need.

I really appreciate the help, Ive got the thing on my desk all apart lol

[2021-03-14 18:26] guino commented on #8
For anyone reading this issue, the solution here was the same as https://github.com/guino/Geeni720P where the flash chip was removed, a programmer was used to read/write it back with an extra boot script and the chip was soldered back.

[2021-03-15 21:28] GhostlyCrowd opened #9 "[Feature Request] Maker snap and mjpeg resolution configurable"
Right now it appears snap and mjpeg are at the lowest supported 16:9 resolution of 640x360 Is it possible to bump it up to something hd, 1280x720 and 1920x1080 for example if wanted?

Being able to repurpose these camera for mjpeg streaming for Octoprint is fantastic, so thanks for all theh ard work!

[2021-03-15 23:24] guino commented on #9
@GhostlyCrowd sorry but I have tried to mess with it before, even located the parameter that defines which channel to use for jpeg and when I changed it the jpeg is just no longer generated. I am also concerned the internal buffers and free memory on the device would not be enough/available to handle the higher resolution + there are possible CPU concerns with using the high resolution.

What you

[2021-03-15 23:28] guino commented on #9
If you don't want to constantly use the RTSP stream and write the file you can use something like this (on a schedlued/cron job etc) to write the image file every few seconds/minutes:

ffmpeg -i rtsp://10.10.10.7:8554 -vframes 1 -q:v 2 /tmp/img.jpg -y

That way you only run the tool to grab one frame, exit and then just run it again after so many seconds/minutes to make a new image.

[2021-03-15 23:42] GhostlyCrowd commented on #9
Thanks for the reply, I will look into the work around, its not the end of the world the mjpeg quality is still reasonable enough to monitor a printer remotely.

[2021-03-16 13:24] #9 closed

[2021-03-16 13:24] #8 closed

[2021-03-16 21:13] Herremelk commented on #1
Amazing work! Been at this problem of not getting any rtsp from my Nedis WIFICI05CWT for countless hours, would be very thankful for an patch to my camera! Have been trying so many of this patches already, until I realized that there was no patch for my combination of hardware and firmware.

devname: Smart Home Camera
model: Mini 7C
softwareversion: 2.7.4
hardwareversion: M7C_AK_V10_1245
firmwarev

[2021-03-16 21:51] guino commented on #1
@Herremelk you need to post a zip of your ppsapp file so I can patch it (you already provided the information for it).

[2021-03-16 21:58] Herremelk commented on #1
my bad, here it is
--deleted--

[2021-03-16 22:06] guino commented on #1
@Herremelk Your ppsapp has been patched previously and the patch is available here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-754199410

[2021-03-16 22:49] Herremelk commented on #1
I thought I could not use it cause it was listed for another model "Speed 4C" and the hardware version "S4C_A1_V10_1245" since its a "S4C" in the start and it was only for the Speed 4c.

But thanks so much for the help, it works smooth now! Really appreciate it !

[2021-03-16 22:52] guino commented on #1
@Herremelk no problem - better be safe than sorry. The important thing is for the ppsapp to be the same (same md5sum).

[2021-03-20 17:44] buz1978-2 commented on #1
hi
the mini 7S in the list my MD5 dose not match

please help

"devname":"Smart Home Camera",
"model":"Mini 7S",
"softwareversion":"2.9.6",
"hardwareversion":"M7S_H1_V11_F23",
"firmwareversion":"ppstrong-c51-tuya2_calex-2.9.6.20200409

MD5 cf48c7045fbf8f0f61b239e8d38e21a7

[ppsapp.zip](https://github.com/guino/Merkury720/files/6176066/ppsapp.zip)

[2021-03-22 20:38] anbelf7 commented on #1
Hi guino, can you please patch my ppsapp?
Thanks!

devname: Smart Home Camera
model: Mini 7S
softwareversion: 2.9.6
hardwareversion: M7S_H1_V11_F23
firmwareversion: ppstrong-c51-tuya2_calex-2.9.6.20200409

--deleted--

[2021-03-22 21:11] guino commented on #1
@anbelf7 I made a patch and you can get it here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-804397288

[2021-03-27 00:19] GhostlyCrowd opened #10 "Everything was working great for days, now rtsp streams never come up. Snap and Mjpeg, busybox and telnet do."
As title states, have redownloaded and reinstalled patched ppsapp Not sure what happened, have also reformatted sd and redone card. Firmware was not updated.

[2021-03-27 00:37] GhostlyCrowd commented on #10
I switched from  https://github.com/guino/BazzDoorbell/issues/2  hack to the https://github.com/guino/BazzDoorbell/issues/13 hack and all is working and now i no longer need sd in to boot. Ill leave this up for any one else who is having this issue.

[2021-03-27 00:46] guino commented on #10
Glad you got it sorted out. When snap/mjpeg works but RTSP doesn't it is usually a sign that the ppsapp that is running is not patched. You should be able to check the path to the running ppsapp with the `ps` command -- if it shows `/mnt/mmc01/ppsapp` then it is running the ppsapp from the SD card (so I would check if it's patched and/or patch it again to be sure). If it shows `./ppsapp` then it i

[2021-03-27 14:14] GhostlyCrowd commented on #10
Ive got a sd backup already first thing i did after i got it working agauin. I have recording disabled in the  custom script, ill check out cleanup.cgi

[2021-03-29 14:58] JonSingleton commented on #1
Hey Guino,

Gave this the old college try by grabbing a patch you posted for a similar version (ppstrong-c51-tuya2_shf-2.9.1.20190907) and patching my original ppsapp file then loading them both into Ghidra and examining through diff view. Only appears to be two changes which I did make. I've gotten the addresses for the play/snap/mjpeg and those do work, and telnet works as well. RTSP is giving m

[2021-03-29 15:47] guino commented on #1
@JonSingleton I made the patch and posted it here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-809485906 -- it should work but there are some reports of older versions 2.9.0/2.9.1 not being able to run correctly after killing the ppsapp from the flash so: try it out -- if it doesn't work: try placing the **original** (unchanged) ppsapp on the SD card to see if it works normally, if

[2021-03-29 16:05] JonSingleton commented on #1
Shit me - I had it in my clipboard and ready to go but I suck.
{
  "devname": "Smart Home Camera",
  "model": "Flight 2S",
  "serialno": "059398325",
  "softwareversion": "2.9.1",
  "hardwareversion": "F2S_V10_H1_2063",
  "firmwareversion": "ppstrong-c51-tuya2_geeni-2.9.1.20190821",
  "authkey": "--",
  "deviceid": "--",
  "identity": "--",
  "pid": "aaa",
  "WiFi MAC": "ac--:59"
}

[2021-03-29 16:20] JonSingleton commented on #1
Can confirm, RTSP works. For clarity, the device is this one from Wally world: https://www.walmart.com/ip/Merkury-Innovations-Smart-Floodlight-1080p-Camera-Requires-2-4-GHZ-Wi-Fi/636915737

Another success by Guino.

Out of curiosity, did you modify 0031b5f4 to FuncDef3? Because I did the same change at 000e39c4 and it didn't work, then I changed 0031b5f4 to reflect FuncDef2 and it didn't work. Cu

[2021-03-29 16:29] guino commented on #1
@JonSingleton Thanks for the feedback, info. The changes I made were in 0e71b0 (file 0d71b0) and 0e74c8 (file 0d74c0) -- if you changed anything else I am not sure what you did. Older versions may require slight different changes to get it working (i.e. a nop where you'd place a b instead of beq for a newer version and vice verse). For this one the first change was to change a beq for b and the se

[2021-03-29 17:50] JonSingleton commented on #1
Sigh.. don't mind me, just doggy paddling in the deep end over here.

[2021-03-29 18:04] guino commented on #1
@JonSingleton it's no big deal man, I'm glad to help! I really appreciate the coffees!

[2021-04-05 19:26] leezer3 commented on #1
Slightly different MD5 / firmware versions on a Calex cam, would appreciate a patch.

devname | "Smart Home Camera"
-- | --
model | "Mini 7S"
serialno | "061496489"
softwareversion | "2.9.6"
hardwareversion | "M7S_H1_V11_F23"
firmwareversion | "ppstrong-c51-tuya2_calex-2.9.6.20200522"
authkey | "--"
deviceid | "--"
identity | "--"
pid | "aaa"
WiFi MAC | "7c:--:90:bf"

--deleted--

[2021-04-05 19:57] guino commented on #1
@leezer3 I just now posted the patch here: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-813614633

[2021-04-05 20:00] leezer3 commented on #1
Thanks.
I can do code and I've done the odd bit of hex dabbling, but never ARM disassembly or anything brickable.

[2021-04-05 20:03] guino commented on #1
@leezer3 no problem -- this one was very basic, if you followed the guide I posted you'd probably be fine. It only takes me a few minutes to do it so I don't mind it.

[2021-05-03 15:58] nerdtool commented on #5
Hi Guino!
Its obvious you've really analyzed these webcams! I have a similar problem with my WalMart-purchased Merkury 720p webcam. I managed to do the initial port 80 hack to get the following info:
{
"devname":"Smart Home Camera",
"model":"Mini 7C",
"serialno":"064485682",
"softwareversion":"2.7.6",
"hardwareversion":"M7C_AK_V10_1245",
"firmwareversion":"ppstrong-a2-tuya2_geeni-2.7.6.20210207",

[2021-05-03 16:12] guino commented on #5
@nerdtool make a zip of your SD card files except for anything under SDT (which is a directory the camera creates). I can take a look for you -- it is common for people to download the files wrong or not have the correct data in the env file. Additionally I need the results from http://admin:056565099@IP/proc/cmdline for your device to make sure it is set correctly.

[2021-05-03 16:35] nerdtool commented on #5
Wow!
Thanks for the speedy response!  Attached is the Zipped contents of the SD
card. Also, here is the results from the cmdline:

mem=64M console=ttySAK0,115200n8
mtdparts=spi0.0:256k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,2496k(sys),4608k(app),640k(cfg)
ppsAppParts=5 ip=192.168.1.99:::255.255.255.0 eth=00:55:7b:b5:7d:f7

Best Regards,
NerdTool

<https://www.avast.com/sig-email?utm_medium=ema

[2021-05-03 17:35] guino commented on #5
@nerdtool you replied the email -- this does not post the attachments into githib -- you either need to post the zip in github (using web browser) OR email me directly (my email is listed on my github account).

[2021-05-03 18:15] guino commented on #5
@nerdtool I looked over your files and everything appears to be correct. I have the same exact camera here so I know it can work. The only thing to notice with this model is that I have seen it not like some SD card brands/models when rooting (installing the hack) -- once it's installed you can use any card you like. I have used a Samsung EVO 32Gb card to install it without issues but had problems

[2021-05-03 20:10] nerdtool commented on #5
Awesome! the \hack directory was created and I now see all the other directories for the cgi files.  I also turned on the image storage and the \SDT directory was created.  I assume because the \hack directory was created, it was successful.  Now do I need to copy the ppsapp file from your patch files?
I cant find one that corresponds directly to my version number: ppstrong-a2-tuya2_geeni-2.7.6.20

[2021-05-03 20:34] guino commented on #5
@nerdtool glad you got the hack installed -- you should be able to use any SD card you want from now on, just make sure you copy all the files from the current SD card into the new one if you switch.

There's no patch for your version of ppsapp yet so you should just post a zip of your ppsapp here in github and I can patch it for you (or you can try your hand at it with the instructions from https

[2021-05-03 21:28] nerdtool commented on #1
Guino,
You have been incredibly patient with my fumbling along with this process. Im happy to have finally applied the hack.  Now, as instructed, I'm attaching my ppsapp file to patch.  And this is the list of parameters I think you'll need:
{
"devname":"Smart Home Camera",
"model":"Mini 7C",
"serialno":"--",
"softwareversion":"2.7.6",
"hardwareversion":"M7C_AK_V10_1245",
"firmwareversion":"ppstro

[2021-05-03 21:31] guino commented on #1
@nerdtool working on it right now

[2021-05-03 21:48] guino commented on #1
@nerdtool here's the patch for your ppsapp: https://github.com/guino/ppsapp-rtsp/issues/1#issuecomment-775262590 (it was actually already patched)

[2021-05-03 22:20] nerdtool commented on #1
Man I dont know how I missed it. I did searches but perhaps I never changed
pages between each search. Anyhow I don't know how expensive beers are
where you are but I hope my donation will cover it!
Cheers!

On Mon, May 3, 2021 at 4:31 PM Wagner ***@***.***> wrote:

[2021-05-03 22:30] guino commented on #1
@nerdtool no problem, that list is getting long so I may have to organize it a little better. I appreciate the beers! Cheers!

[2021-05-27 07:24] Zeunas opened #11 "Tuya doorbell V1.3.8"
Hi,

Would it ever be possible for this to work on older firmwares? I have a Tuya doorbell which obviously works via cloud, no local connection, with Main Module firmware V1.3.8 / MCU Module V1.3.8 - It has no new updates available and it's been like this since I bought it a couple of years ago.

Link to the doorbell [here](https://uk.banggood.com/Bakeey-Tuya-WIFI-1080P-Wireless-Visual-Intercom-Do

[2021-05-27 15:17] guino commented on #11
@Zeunas did you try creating a ppsFactoryTool.txt file as indicated in https://github.com/guino/Merkury720 to see if it would allow the http://admin:056565099@ip/devices/deviceinfo link to work?

I have not seen any firmware before 2.7.x so I have no idea if it’s similar in any way to 2.7.x. Chances are the bootloader may not even be protected so you could potentially gain root access directly usi

[2021-05-27 20:56] Zeunas commented on #11
@guino thank you for coming back so promptly. Tried the ppsFactoryTool.txt procedure but didn't work - Tried the url with both ports (80 and 8090), with no avail.

I did end up trying the hack and even though it didn't work at all, I've noticed when the doorbell boots (with all the mmc files and busybox file in the SD card) the light stays on, it connects to my rooter but I lose access to it via a

[2021-05-27 21:33] guino commented on #11
@Zeunas your flash chip is the black 8-pin chip on the top-left of the last picture. If I had to guess the serial port is the 4 silver oval/rectangular pins on the top right. If you have no soldering skills I won't recommend you try anything because your serial port would require both soldering to the pins mentioned AND having a ttl-usb or ttl-serial adapter. If you were to use a hardware programm

[2021-05-27 21:41] Zeunas commented on #11
Yes, I suppose it worked to some extend indeed but no, unfortunately it didn't create any additional files/folders.

Like you said, I'm better of selling it and buying a hackable device or with built in mjpeg/rtsp.

Thanks you for your assistance though, much appreciated!

[2021-05-27 21:41] #11 closed

[2021-06-01 00:23] dehness opened #12 "Firmware version 5.2.0?"
I seem to have a newer variant of this camera. It's definitely a Tuya camera and looks identical to this one (although it's 1080p).

Specifically, it's an Orion Grid Connect camera from Bunnings and the firmware is 5.2.0.

The problem with this one is it seems to format and overwrite the SD card on boot. Has anyone else run into this?

[2021-06-01 01:36] guino commented on #12
@dehness I have not seen any 5.x firmware before so I can’t tell much from experience. That said it makes sense for the camera to format the SD card **once** during boot (to ensure it is ready to be used), but it makes no sense for it to format the SD card on **every** boot otherwise you would lose previous recordings. I would let it boot up/format once then reboot (without changes) to verify it d

[2021-06-11 19:58] Dazenlucki commented on #5
Please Help I cant get it to work.

[2021-06-18 16:01] codetesstr opened #13 "Telnet copy paste?"
I'm just testing the cameras and I have it running fine.

Is there a folder where you view the recordings (via telnet), I couldn't figure out the folder structure..i wasn't sure if i missed it

and is there a way to copy/paste them out without pulling the SD card?

[2021-06-18 16:15] guino commented on #13
@codetesstr recordings are saved under the SDT directory in the SD card (when/if enabled) (/mnt/mmc01/SDT/... in telnet). Enabling recordings depens on the app. I used the tuya app myself and use 'Event Recording' so it doesn't record continuously. I use this script to copy the files from the camera to my network storage: https://github.com/guino/BazzDoorbell/blob/master/doorcopy.sh but there's no

[2021-06-24 19:13] damiantof7 commented on #12
Hello,

I got a newer version camera here (Same as the OP) currently being sold as "LSC Outdoor camera"

![afbeelding](https://user-images.githubusercontent.com/53458121/123319641-f6c23000-d530-11eb-8fe7-ad39b461cb0c.png)

/devices/deviceinfo

`devname | "Smart Home Camera"
model | "Bullet 4S"
serialno | "100197759"
softwareversion | "5.0.5"
hardwareversion | "B4S_V10_S1_GC1"
firmwareversion | "pp

[2021-06-24 19:36] guino commented on #12
@damiantof7 que the fact you got /proc/xxxxx to work is a good sign. You could try https://github.com/guino/BazzDoorbell/issues/13 and/or https://github.com/guino/BazzDoorbell/issues/11 to see if it works. If it doesn’t the only way to move forward would be opening the device and connecting a UART-TTL adapter or a hardware programmer.
I would be more than glad to look at the device myself but they

[2021-06-24 19:39] damiantof7 commented on #12
Yeah it's a sub-brand from the store itself, They sell all kinds of Tuya Products under "LSC", I got a LSC Doorbell here aswell that worked perfectly with the Bazz Doorbell hack

I tried most methods but it doesnt seem to want to execute the ssh file in any way or form, the /proc/cmdline is way different aswell

[2021-06-24 19:46] guino commented on #12
@damiantof7 it’s a different hardware so likely different bootloader, different OS, different drivers but the application is likely similar so it may be possible to enable rtsp/onvif if we can get access to it. There are probably similar cameras here with different brand name but it would be hard to spot it.

[2021-06-24 19:46] damiantof7 commented on #12
Do u think i would be able to do https://github.com/guino/BazzDoorbell/issues/11 with windows? as it seems to be just formatting to fat? i got no linux box laying around

[2021-06-24 19:49] guino commented on #12
@damiantof7 you may be able to find the same tools for windows but it would be way easier to boot from a live USB/CD/DVD and do it from there than trying to figure it out in windows. If you have a raspberry pi or similar it should also work (you may need a usb-SD card adapter).

[2021-06-24 20:05] damiantof7 commented on #12
Oh and this one https://github.com/guino/BazzDoorbell/issues/13 i couldn't really try as none of it seems to match up with the firmware on my camera, such as /proc/self/root/etc/init.d/S90PPStrong doesnt return anything and the bootargs part etc is nowhere near the same

[2021-06-24 20:13] guino commented on #12
@damiantof7 it sounds like we would have to use something entirely new on that firmware (or may be they just moved files around and we just need to find the new locations). Only way to find out is to open and connect to UART or use hardware programmer to read the firmware.

[2021-06-24 20:24] damiantof7 commented on #12
Never done it before haha, Maybe it's time to learn

[2021-06-24 21:20] damiantof7 commented on #12
So, I opened up the camera (It was really tough to put it back together)

This is what the board looks like, There are multiple unused connections on the board

![afbeelding](https://user-images.githubusercontent.com/53458121/123333976-b7044400-d542-11eb-80a9-fe9640f65911.png)
![afbeelding](https://user-images.githubusercontent.com/53458121/123333991-bc618e80-d542-11eb-9f31-b353fe3a88d1.png)

Does

[2021-06-24 21:38] guino commented on #12
@damiantof7 UART is likely the four pads on the bottom left above the hole. I would discourage you from doing any solder work if you’re not experienced with it (fragile board). The flash chip is probably on the other side of the board (not pictured).

[2021-06-25 09:47] damiantof7 commented on #12
Hmm what do you think is the smartest thing to do in this case as i've never done this before haha

[2021-06-28 19:18] damiantof7 commented on #12
and what would be the best way to connect to the UART port?

[2021-06-28 19:23] guino commented on #12
@damiantof7 there's no 'best' way, just one way: soldering wires into a TTL-UART adapter (USB or SERIAL)  -- I do not recommend this unless you're familiar with this type of thing OR have someone familiar to help you with it -- these boards are very fragile so the lightest tug/pull on the wire will get the pads right off the board.

[2021-06-28 19:24] damiantof7 commented on #12
i'm always willing to learn :) + i've soldered in the past (The good old Xbox 360 RGH Days)

[2021-06-28 19:40] damiantof7 commented on #12
and this might be a really stupid question but wouldn't wire clamps work instead of soldering it to the board?

[2021-06-28 19:50] guino commented on #12
@damiantof7  as long as you can connect wires to pads and into the UART-TTL adapter it should work. The pads are tiny so I have never seen anything that could connect to that without soldering but I'm sure that's possible.

PS: Learning is always a good thing I just make a point to warn people about potentially damaging their hardware.

[2021-06-28 19:50] damiantof7 commented on #12
Good thing i got 2 ;)

[2021-06-30 22:29] damiantof7 commented on #12
I checked the pads which you mentioned with a multimeter and all of them seem to be giving off 3.27-3.33v which makes me think it's not the UART port

[2021-06-30 22:52] guino commented on #12
@damiantof7 usually out of 4 pads one of the outside ones is ground (which you can check by testing resistance/continuity between the pad and a ground point like one of the screw holes). Out of the other 3 one is RX, another TX and one is 3.3v — from ground ALL 3 will measure 3.3v with a multimeter (which is normal). You don’t need to solder anything to the 3.3v pad but it may be difficult to dete

[2021-07-01 12:44] damiantof7 commented on #12
Hmm, So the one in the top (On the picture) is the ground, I've tried each pad to look for output, no output is being given

[2021-07-01 13:36] guino commented on #12
@damiantof7 When I talked about the boot counter I should have been more specific: these boards only output anything on the UART **during power on** (while booting). So you have to turn it off, connect the pins and turn it on. If it doesn’t show anything you have to turn off, connect it a different way and try again.

[2021-07-01 16:09] damiantof7 commented on #12
Which baudrate did you use? (Just to be sure before i start trying again)

[2021-07-01 16:10] guino commented on #12
@damiantof7 pretty sure I use 115200 8N1

[2021-07-01 19:08] damiantof7 commented on #12
Hmm, Either i'm doing something wrong or something is wrong with putty or my TTL adapter

[2021-07-01 19:32] damiantof7 commented on #12
I am constantly pinging the device so i know it's actually booting and not broken but yet no output

[2021-07-05 21:17] damiantof7 commented on #12
So if you got any other idea i would love to hear it

[2021-07-05 21:41] guino commented on #12
@damiantof7 I have done some work with another user on https://github.com/guino/BazzDoorbell/issues/34 and on that camera there’s no output to the UART except for a few lines during power up — I am saying this to make sure you try to see if you get any output during power up as after that it goes completely silent (unlike other cameras). It was also discovered on the other camera there’s a /sys/co

[2021-07-07 18:40] damiantof7 commented on #12
Update: Tried everything with the UART Ports to no avail, no output at all (Litteraly tried it all) /sys/console isn't present on this device.

Put it back together, LED Stays red, Connection through the app doesnt work anymore, Device does still connect when the Micro SD Card is in with the PPSFactory text file, Guess it's kind of dead

[2021-07-07 18:43] guino commented on #12
@damiantof7 that seems like the reason why you aren't getting any output.. in any case if this device has a battery you should most definitely make sure you remove it to force a full power off then power it back on again to see. Do any of the URLs like /proc/cmdline and such (which you posted earler) still work (even if with ppsFactoryTool.txt) ? you may want to try to factory reset your device an

[2021-07-07 18:46] damiantof7 commented on #12
with the ppsfactorytool.txt all the urls etc work, Did a full factory reset to try and get it to connect to the app again (Hear all the tones, reset, connecting and the such) it's simply not doing anything (almost like it's blocked from using cloud services)

device doesnt have a battery

[2021-07-07 18:49] damiantof7 commented on #12
As there's no visual damage i might just return it to the store, get a new one and retry the process -_-'

[2021-07-07 18:50] damiantof7 commented on #12
and right as i type that the camera connected to the app again, guess it's not dead yet

[2021-07-07 18:51] guino commented on #12
could have just been coincidence with the timeing and some connectivity issues with their server.

[2021-07-07 18:53] damiantof7 commented on #12
Yeah could be, Btw, Quick update on the doorbell, They released an update to enable onvif (It's now a setting in the menu to enable it) Same manufacturer

![afbeelding](https://user-images.githubusercontent.com/53458121/124813662-6ee31980-df65-11eb-9c9b-ddc29836b7d4.png)

[2021-07-07 18:59] damiantof7 commented on #12
But well, You got any idea why the device would include the OEM UID and the OEM Authkey?
This is found under /flash/encryption
![afbeelding](https://user-images.githubusercontent.com/53458121/124814360-32fc8400-df66-11eb-9139-f6c8540bc689.png)

[2021-07-07 19:02] damiantof7 commented on #12
If only there was an URL to backup the currenty image/firmware on the device, that would make all of this a lot easier

[2021-07-07 19:04] damiantof7 commented on #12
or to have the "Firmware Update" feature turn into an RCE for a reverse shell

[2021-07-07 19:07] damiantof7 commented on #12
Wait a second
![afbeelding](https://user-images.githubusercontent.com/53458121/124815162-3cd2b700-df67-11eb-8464-a8777f097b78.png)
If it saves to a file...and it doesnt actually check the contents (Cause it doesnt, I uploaded a random ssh file)

The question is, Does it execute and where does it save the file + can the path where it saves be modified?

[2021-07-07 19:10] guino commented on #12
there are only 2 ways to backup firmware: 1-getting UART to work and use the commands to backup to SD card. 2-Using a hardware programmer (which may require moving the flash chip from the device).

Tuya makes the platform (servers, api, interface, app) and sells that to product manufacturers, each of them gets licenses to use the Tuya platform so they have to be identified somehow (likely OEM ID/K

[2021-07-07 21:45] damiantof7 commented on #12
After some googling i believe i did the find the chip used
http://bbs.16rd.com/shop_product-1-1062.html
http://bbs.16rd.com/thread-563950-1-1.html

I dont speak or read chinese but from what i can understand the chip actually has 2 UART Ports
LSC has given their own twitst to it tho

[2021-07-15 08:13] FringeScientist commented on #12
@damiantof7
Were you able to make some progress with the outdoor cam of LSC? I've bought the same one but wasn't able to hack it in any way

[2021-07-15 08:28] damiantof7 commented on #12
@FringeScientist unfortunately not

[2021-07-21 11:16] johnplynch commented on #1
Hello, would you be able to do a patch for a Kogan SmarterHome Wifi Floodlight security camera? (https://assets.kogan.com/files/usermanuals/KASHOCAMFLA-QSG.pdf)
I have successfully run the hack and tried the ppsapp for the Flight 2S device, which uses the same software version number, but that didn’t enable the RTSP functionality. (It did enable telnet and is otherwise working correctly.)

Here is

[2021-07-21 16:47] guino commented on #1
@johnplynch please try the attached patch file -- I am not 100% sure it will work because this is different than other ppsapp versions. This hopefully should enable onvif on rtsp://user:password@IP/Streaming/Channels/101 (and 102) -- please try these user/passwords:
admin admin
user+password configured with telnet (in passwd file)
admin YWRtaW4=
WeEyE &$ChuTian_91

--deleted--

Please let me know

[2021-07-21 23:02] johnplynch commented on #1
@guino  That doesn’t appear to work. (Camera boots up and I can see it in SmartLife, but no RTSP or ONVIF.) The SNAP/MJPEG cgi pages don’t seem to work either as I just get a small white square. When I browse to play.cgi I get a message: does not exist!
Port scan of the device shows it is listening on: 23, 80, 443, 6668 and 8080
I am using the MMC files from here: https://github.com/guino/BazzDoor

[2021-07-22 04:25] Rocko-Rottie commented on #1
I have the merkury 720 on 2.7.7

hardware version: M7C_AK_V10_1245
firmware version: ppstrong-a2-tuya2_geeni-2.7.7.20210311
--deleted--

[2021-07-23 21:21] guino commented on #1
@johnplynch you should try to get mjpeg/snap working before anything (even without the patched ppsapp it should work). If not you may have something wrong/missing. Feel free to post a zip of your SD card files without the SDT directory and I can review.

[2021-07-23 21:50] johnplynch commented on #1
@guino Thanks! Here are the files.
--deleted--

[2021-07-23 21:53] johnplynch commented on #1
@guino I tired both ADDRESS=4802b0 and ADDRESS=04802b0 in the mjpeg/snap cgi files.

[2021-07-23 23:32] guino commented on #1
@UnrulyPikachu I'm working on your patch.
@johnplynch can you post your ppsapp again ? I deleted it from here (as I always do to avoid people bricking their devices) and I think I mixed up your ppsapp with another one so I wanted to be sure I have the right file. Yous SD card files seem fine.

[2021-07-23 23:47] guino commented on #1
@UnrulyPikachu the patch has been posted here https://github.com/guino/ppsapp-rtsp/issues/1

[2021-07-23 23:50] guino commented on #1
@johnplynch nevermind I got your ppsapp already

[2021-07-24 00:33] guino commented on #1
@johnplynch your patch has been posted to https://github.com/guino/ppsapp-rtsp/issues/1

[2021-07-24 01:19] johnplynch commented on #1
@guino Thanks for your help on this, I appreciate it. Unfortunately though the new patch doesn't seem to have made a difference. (Still not listening on 554.) Any guidance on how to troubleshoot the mjpeg/snap pages? Thanks

[2021-07-24 01:37] guino commented on #1
@johnplynch it is highly unlikely that there’s any issues with the patch for your ppsapp. Rtsp should be available at port 8554 with no user/password - rtsp://IP:8554 nothing else.

[2021-07-24 04:15] Rocko-Rottie commented on #1
@guino Thanks, my local walmart had a bunch of these in stock, I'll be heading back to buy more. In the meantime, enjoy your beer/coffee on me

[2021-07-24 06:09] johnplynch commented on #1
@guino I've got it working now. Thank you very much! Enjoy a beer/coffee on me as well.

[2021-07-26 19:01] bartflash commented on #1
Would like to get a patch for this one.

"devname":"Smart Home Camera",
"model":"Mini 16S",
"softwareversion":"4.0.6",
"hardwareversion":"M16S_A2_V10_F37",
"firmwareversion":"ppstrong-a3-tuya2_lsc-4.0.6.20210311"

--deleted--

[2021-07-26 19:03] guino commented on #1
@bartflash the patch for that firmware was posted to the list today already.

[2021-07-26 19:08] bartflash commented on #1
Thanks, had to refresh the page :-)

[2021-08-18 13:40] alberttimmers commented on #1
i can confirm that is partly works on the LSC Smart indoor Cam.  i got the onvif working. not yet the rtsp.
and when i am connecting to xx:8080/cgi-bin/snap.cgi it is asking for a user/passwd   tried a lot but nothing is correct..what i am doing wrong ?

[2021-08-18 14:17] guino commented on #1
@alberttimmers the user and password for snap.cgi is whatever **YOU** defined in httpd.conf during the preparation of the SD card. If you didn’t configure it just look in the file to see what it is. Also ONVIF support has RTSP as part of its implementation - usually under /Streaming/Channels/101 - just look at the ONVIF information on some of the patches under https://github.com/guino/ppsapp-rtsp/

[2021-08-18 14:37] alberttimmers commented on #1
Thnx, will check.
Btw great work. 👍👍
Its running on 4.0.6

[2021-08-18 17:38] originalgoon opened #14 "im having a hell of a time trying to patch, could use some help.."
Merkury 720p mini 7c

devname | "Smart Home Camera"
-- | --
model | "Mini 7C"
serialno | "100255387"
softwareversion | "2.7.7"
hardwareversion | "M7C_AK_V10_1245"
firmwareversion | "ppstrong-a2-tuya2_geeni-2.7.7.20210306"
authkey | "4Vq3Bnxflhh1oKFBvDADGhjl97HTIJtd"
deviceid | "pp016e3281c8be49e743"
pid | "aaa"
WiFi MAC | "84:7a:b6:06:16:32"

[https://github.com/originalgoon/grams_hass/blob/main/p

[2021-08-18 17:41] originalgoon commented on #1
please HELP! lol having a horrid time trying to patch this myself, alothough i will keep trying..
i could use some help.
<div class="toolbar"><div class="devtools-separator"></div><input class="searchBox devtools-filterinput" placeholder="Filter JSON"></div><div class="panelContent">

  |  
-- | --
devname | "Smart Home Camera"
model | "Mini 7C"
serialno | "100255387"
softwareversion | "2.7.7"
har

[2021-08-18 17:45] guino commented on #1
@originalgoon I'll take a look as son as I have a chance

[2021-08-18 18:15] originalgoon commented on #1
Thank you, honestly I think Ghidra might just be working funny for me, I tried it on my main pc (Manjoro). I can load in the file, but it didn't look completely correct. Also after Its analyzed searching for the the start didn't come back correct either.
I'm going to try a different machine, maybe windows, see if I get different results. If I get threw it. I'll let you know so your not trying to h

[2021-08-18 18:58] guino commented on #1
@originalgoon the patch for your version has now been posted to: https://github.com/guino/ppsapp-rtsp/issues/1
PS: I also use ghidra on manjaro.

[2021-08-18 19:02] originalgoon commented on #1
@guino thank you very much. Now I'm determined to figure out what's going on, on my end.
At least now I can get the cameras working and fiddle with it later to see what my issue was.
Thanks again.

[2021-08-19 14:05] alberttimmers commented on #1
Hi Guino,
 my
devname":"Smart Home Camera","
model : Bullet 4S
serialno : 101025804
softwareversion : 4.0.7
hardwareversion : B4S_V10_A2_2063
firmwareversion : ppstrong-a3-tuya2_electro 4.0.7.20210624
Identity":"M4D0039H4P02006173
authkey":"1fw9ejjaWxlejTywGgEHQX0P7RJuG4hB"
deviceid":"pp016a443a709c840a91
pid":"aaa"
perfeormed he hack, replied with Done.
but no ppsapp in /home/app
what i am i doin

[2021-08-19 15:02] guino commented on #1
@alberttimmers if there’s a home directory on the SD card delete it. Then reboot the camera and make sure you wait a few minutes then check if the home directory was created. If it the hack link shows done then you should be able to install the other files and get telnet working - if you can login by telnet we can get your ppsapp that way too.

[2021-08-19 15:18] alberttimmers commented on #1
Yes, i have telnet working. But will try to delete and reboot first

[2021-08-20 07:59] alberttimmers commented on #1
Great, it works :-)

[2021-08-20 10:42] alberttimmers commented on #1
Got the ppsppa file. But my version is 4.0.7  cant use the file on the site .
Trying to do it manualy its hard because there they use  other names. Will go further after this weekend

[2021-08-20 14:19] guino commented on #1
@alberttimmers for 4.0.x you'll need to use the information here: https://github.com/guino/Merkury1080P#customization but you can post the ppsapp and I can take a look when I have a chance.

[2021-09-05 13:51] richaardvark opened #15 "Working But with Multiple Debilitating Issues"
software version: 2.7.7
hardware version: M7C_AK_V10_1245
firmware version: ppstrong-a2-tuya2_geeni-2.7.7.20210306

Followed all directions [here](https://github.com/guino/Merkury720) as well as [here](https://github.com/guino/ppsapp-rtsp/issues/1). Everything worked as it was described it would. ✔️

However, I'm experiencing several frustrating issues:

1. VLC will show the rtsp stream fine for a

[2021-09-07 03:47] guino commented on #15
@richaardvark for VLC you need to make sure you're using RTSP over TCP in the settings otherwise it will drop off after awhile.

Telnet lets you copy/modify files when needed -- basically gives you full access to the device.

When mjpeg/snap don't show anything the reason is usually: 1-the address is incorrect in mjpeg/snap.cgi OR 2-there are missing/wrong files in the SD card.

Feel free to post

[2021-09-07 05:33] richaardvark commented on #15
@guino  Thank you so very much for offering me your helpful guidance here (and for putting this all together in the first place!).  I thought it might be easiest to just respond in-line below to your last message.

I do indeed start VLC from the terminal with the RTSP over TCP launch command.  I tried to configure VLC's preferences directly but I guess the Linux version of VLC player (currently 3.

[2021-09-07 14:58] guino commented on #15
@richaardvark  the fact that you're getting crash data files could be an indication that there's a hardware issue or that you're running out of memory. Many of these devices run on the limit of free available RAM and adding any extra processes (ie busybox running telnet/httpd servers) could be the tipping point to cause processes to crash (out of memory). You may also want to verify that you're ab

[2021-09-09 16:04] richaardvark commented on #15
@guino  Thanks for your help and for all of this information!   I think I have everything working now. However the only thing I cannot figure out is the play.cgi file - where it came from originally?

[2021-09-09 16:07] guino commented on #15
@richaardvark you can download it here: https://github.com/guino/BazzDoorbell/tree/master/mmc/cgi-bin I guess I forgot to include it in the Merkury720 repo -- I'll add it when I have a chance.

[2021-09-09 16:13] richaardvark commented on #15
Thanks!   Was just replying now to say I found it. Thank you again!!!

[2021-09-09 18:14] richaardvark commented on #15
@guino   One last quick question if I may and all close out this issue...   is there any way to change the port for the mjpeg/snap.cgi from 8080 to something different?

[2021-09-09 18:45] guino commented on #15
@richaardvark you can pick the port in the command in custom.sh: `/mnt/mmc01/busybox httpd -c /mnt/mmc01/httpd.conf -h /mnt/mmc01 -p 8080` just be sure to not use a port already in use for something else (i.e 80, 8554, 23)

[2021-09-09 23:18] richaardvark commented on #15
Thank you very much!  This worked perfectly!

So far my camera seems much happier/isn't crashing and dumping giant files onto the SD card any longer!  I had also noticed when I put the SD card in my Linux computer that there seemed to be weird file-permission issues so I formatted the SD card using the actual Tuya/Smart Life app this time instead of my computer and then put the SD card files back

[2021-09-10 02:34] guino commented on #15
There are some examples on how to use play.cgi in the bazzdoorbell repo (issues) - I am on my phone but can look it up later. You can modify custom.sh using vi in telnet (if you know how to use it), but it’s easier to just download , modify and upload it with upload.html . The sd card will be under ‘cd /mnt/mmc01’ — what you listed is in the firmware/memory mount.

[2021-09-10 02:52] guino commented on #15
Here's how to use play.cgi: https://github.com/guino/BazzDoorbell/issues/10#issuecomment-748513226
Here's how to upload files (or overwrite existing ones): https://github.com/guino/BazzDoorbell/wiki/%5BHow-to%5D-Upload-files-on-your-camera-remotely-using-your-Web-Browser.

[2021-09-21 20:06] jmday001 opened #16 "Connection refused using RTSP, ppstrong-a2-tuya2_geeni-2.7.7.20210311"
Hi,

First off, I really appreciate all the work you've put in.

After some trial and error with SD cards, I was finally able to get the hack to work in full. However, I can only access mjpeg/snap and not RTSP. Whenever I attempt to connect, I get "connection refused" (unless there is a password I'm missing and didn't realize?). I followed the instructions for the patch twice, and I can confirm th

[2021-09-21 20:32] guino commented on #16
@jmday001 did you try rtsp on different clients (vlc, phone app, etc)? Can you post the url you tried?

if you post a zip of your SD card contents (without the SDT folder) I can review it.

It does like you got most everything right so it could just be the client you’re using (ie VLC for mac has been reported as not working with some of these).

[2021-09-21 21:42] jmday001 commented on #16
I have tried VLC on windows (switched over to TCP option), I tried NetStudio as well. The link I tried was rtsp://ip:8554 , with of course IP replaced by my cam's IP, confirmed by making sure that the deviceinfo link returned normal.

I've attached a dump of SD card contents. I'm sure I may have made a small misstep somewhere, I just can't seem to figure out --deleted--

As a note, I am using the

[2021-09-21 23:49] guino commented on #16
@jmday001 the patched seems to be botched -- one of the bytes appears to be incorrect (nothing that you did wrong).
Can you please try this patch instead:
[ppsapp-rtsp.zip](https://github.com/guino/Merkury720/files/7206833/ppsapp-rtsp.zip)

Looks like the patch was creating an invalid instruction, but the one above should be ok.
Let me know when you have a chance.

[2021-09-22 15:04] jmday001 commented on #16
So, no luck on that one. I tried the original cam and flashed a new, identical unhacked one, just to make sure. I'm going to attach a few things in essence of trying not to waste your time with a back and fourth to see if maybe we can figure out what happened.

This is the telnet of the camera's ps:

 Here is a readout of the camera's proc/cmdline:

Here is a readout of deviceinfo ((Note, this is

[2021-09-22 16:19] guino commented on #16
@jmday001 I looked at the patch and your ppsapp and it all looks correct. can you please modify your custom.sh file like this:

change:
`/mnt/mmc01/ppsapp &`
to be:
`/mnt/mmc01/ppsapp &> /mnt/mmc01/ppsapp.log &`

Then reboot the camera, try to connect and post a zip of the ppsapp.log file created in the SD card for review.

The only thing that comes to mind right now is that you have set record_en

[2021-09-22 17:47] jmday001 commented on #16
@guino Changed record_enable to 1, and I actually got stuck in a boot loop momentarily. It made the start up chime around 3 or 4 times before it finally settled in. Everything works normally, but still no response out of the RTSP link.

Here is the zipped log. This is with record_enable set to 1.

[ppsapplog.zip](https://github.com/guino/Merkury720/files/7212746/ppsapplog.zip)

[2021-09-22 18:58] guino commented on #16
@jmday001 did you actually **enroll** this device in the tuya app (or manufacturer app) ? From the logs it looks like it's just not trying to connect to the tuya servers at all like you just didn't set it up. If you did set it up you may want to:
-boot it without the SD card
-go in the app and do a 'factory reset'
-set it up again and re-insert the SD card (you should not need to re-do anything el

[2021-09-22 21:27] jmday001 commented on #16
@quino So, it appears that there must have been a problem during registration. Followed the steps, reset it and, in trying to set it up again, no matter what I did my phone refused to register it. Had to take my wife's phone, redo it all, and now everything is working as expected. I read some reviews that the Geeni app (which my camera uses) is notoriously unreliable on Android, with some people r

[2021-09-22 21:27] #16 closed

[2021-09-22 21:29] guino commented on #16
Thanks for reporting back and glad it's working now! I had seem people simply 'forget' to enroll the device in the app before but never seen it have enrollment issues.

[2021-09-30 21:21] hackstadt commented on #1
ppsppa patch request.

"devname":"Smart Home Camera",
"model":"Bullet 4S",
"softwareversion":"2.10.6",
"hardwareversion":"B4S_V10_H1_2063",
"firmwareversion":"ppstrong-c51-tuya2_geeni-2.10.6.20210819"

--deleted--

thank you

[2021-10-01 00:40] guino commented on #1
@hackstadt Sorry I haven’t had a chance to look at it yet but I should have some time tomorrow.

[2021-10-01 16:12] guino commented on #1
@hackstadt I just posted a patch to your firmware in https://github.com/guino/ppsapp-rtsp/issues/1

[2021-10-01 16:15] alberttimmers commented on #1
Thnx

[2021-10-01 20:02] hackstadt commented on #1
i must be doing something wrong or missing something. the hack applies but when i load the files from mmc folder and busybox and patched ppsapp, camera just seems to work normally. no RTSP, mjpeg, snap, and no telnet.

[2021-10-01 20:09] guino commented on #1
@hackstadt make a zip of your SD card contents without the SDT folder and I can review it. Please notice the patched ppsapp goes in the ROOT of the SD card (not under home/app/).

[2021-10-01 20:28] hackstadt commented on #1
@guino
sdcard contents attached.
[sdcard.zip](https://github.com/guino/Merkury720/files/7270013/sdcard.zip)

[2021-10-01 20:38] guino commented on #1
@hackstadt everything looks good on your SD card -- can you answer the below:

Do you hear the startup sound twice when booting? only after the 2nd startup sound that RTSP may work

Are you able to use mjpeg/snap.cgi ?

Are you using port 8555 for RTSP ?

Did you try onvif at all ?

You may want to change `/mnt/mmc01/set record_enable 0` to `/mnt/mmc01/set record_enable 1` in custom.sh for testing

[2021-10-01 20:42] hackstadt commented on #1
only one startup sound.

mjpeg/snap.cgi will not load using 05656.. password. using my password in httpd.conf, asks for login/password again.

tried ports 8554 and 8555 for RTSP to no avail.

got noting from ONVIF.

[2021-10-01 20:54] guino commented on #1
@hackstadt

TEST 1:

try renaming ppsapp on the root of SD card to ppsapp-disabled, then try http://admin:admin@IP:8080/cgi-bin/snap.cgi -- the user/password for snap/mjpeg.cgi should be admin and admin as defined in your httpd.conf file.

The above is to verify that everything works without the patch as snap/mjpeg should work without patching -- you will only hear the startup sound ONCE since pps

[2021-10-01 21:26] hackstadt commented on #1
@guino

TEST 1:
renamed ppsapp. get ERR_CONNECTION_REFUSED when attempting http://admin:admin@192.168.1.12:8080/cgi-bin/snap.cgi and http://admin:admin@192.168.1.12:8080/cgi-bin/mjpeg.cgi

TEST 2:
renamed ppsapp back.
changed the command in custom.sh to `/mnt/mmc01/ppsapp 2>&1 > /mnt/mmc01/ppsapp.log &`
Waited 10 minutes, startup only sounded once.
RTSP failed to connect on rtsp://192.168.1.12:855

[2021-10-01 21:43] guino commented on #1
@hackstadt  that's really odd. Can you post the results for:

http://admin:056565099@IP/proc/cmdline

http://admin:056565099@IP/proc/self/root/tmp/customrun

It's like your device isn't hacked -- not running the scripts from the SD card, I'm saying this just in case you have more than 1 device and mixed up hacked vs non-hacked units. You obviously applied the hack correctly in order to obtain the

[2021-10-01 21:53] hackstadt commented on #1
http://admin:056565099@192.168.1.12/proc/cmdline:
`mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys),4352k(app),320k(cfg) ppsAppParts=5 ppsWatchInitEnd - ip=${T//_/$'\\x20'}:::::;T=\"sleep_5;mkdir_-p_/mnt/mmc01;mount_-t_vfat_/dev/mmcblk0p1_/mnt/mmc01;/mnt/mmc01/initrun.sh&\";eval mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)

[2021-10-01 22:05] guino commented on #1
@hackstadt your env file and cmdline have sleep_5 which may be too quick to be trying to run the scripts. Please modify your env file to sleep_30 then reapply the hack by powering up holding reset button for 5 seconds and post the results for the 2 URLs again.

[2021-10-01 22:27] hackstadt commented on #1
@guino

`mem=37M console=ttyAMA0,115200n8 mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys),4352k(app),320k(cfg) ppsAppParts=5 ppsWatchInitEnd - ip=${T//_/$'\\x20'}:::::;T=\"sleep_30;mkdir_-p_/mnt/mmc01;mount_-t_vfat_/dev/mmcblk0p1_/mnt/mmc01;/mnt/mmc01/initrun.sh&\";eval mtdparts=hi_sfc:192k(bld)ro,64k(env)ro,64k(enc)ro,64k(sysflg)ro,3136k(sys),4352k(app),320k(cfg) ppsApp

[2021-10-01 23:00] guino commented on #1
@hackstadt what about the result for:
http://admin:056565099@192.168.1.12/proc/self/root/mnt/mmc01/hack

Can you rename the home directory to home-old and boot it up to see if it recreates it ?

[2021-10-01 23:18] hackstadt commented on #1
@guino

http://admin:056565099@192.168.1.12/proc/self/root/mnt/mmc01/hack says "Done"

Yes, it did recreate the home directory.

[2021-10-02 02:53] guino commented on #1
@hackstadt looks like the issue is your custom.sh file -- viewing it in a hex editor shows it's saved in a 'windows' format and we have had reports this can cause problems. I suggest you download the custom.sh file from github again and use an editor that preserves the format (without converting it into windows new line format).

Here's your current custom.sh file converted into unix format (the o

[2021-10-02 02:54] guino commented on #1
@hackstadt you can probably restore that sleep_5 in the env file and reapply the hack if you want it to boot up a few seconds faster too.

[2021-10-02 06:23] hackstadt commented on #1
@guino
alrighty. that was part of the problem. Switched to linux and redid all the mmc files. I am now able to telnet and get mjpeg/snap.
http://admin:056565099@192.168.1.12/proc/self/root/tmp/customrun says "Custom"
However, RTSP is still not working.

ppsapp.log:
`[08:00:18.963 INFO callSystemCmd.c:110] connect /var/systemCmd.socket fail!
PPS_HAL_STRNIO_Init failed, ret=1!
_camera_init failed!`

[2021-10-02 10:34] guino commented on #1
@hackstadt can you post the full ppsapp.log (zip) ? You can blank out keys and such if you like -- I just would like to see specific messages that indicate which parts of the code are running.

[2021-10-02 12:54] hackstadt commented on #1
Sure.
[ppsapp.log.zip](https://github.com/guino/Merkury720/files/7271475/ppsapp.log.zip)

That is the entire log.

[2021-10-02 17:06] guino commented on #1
@hackstadt if this is the entire log file something must be really wrong. Can you copy the ppsapp from /home/app to the root of the SD card and let it boot up (wait a few minutes) to see if it makes 2 startup sounds and see if it works normally with the app after the 2ns startup sound ? If it creates a longer ppsapp.log please post it too.

[2021-10-04 15:03] hackstadt commented on #1
I copied the ppsapp from home/app to the root, deleted the previous log file and booted it up. it only makes one startup sound and the log file it created only has the same three lines.

[2021-10-04 15:16] guino commented on #1
@hackstadt then it seems your firmware/device is not allowing to kill ppsapp and run it again. Is your device rebooting at all every few minutes? Can you do this: let it boot, then login with telnet and execute **ps** and post the output for review.

You may also want to post a zip of your custom.sh file so I can double check.

If everything is in order then you can either just try using ONVIF and

[2021-10-04 16:14] hackstadt commented on #1
@guino
When I first boot up, watching the light, it will be solid red for a few seconds, then flash red for 3 seconds, flash blue for 2-3 seconds, flash red again for 3-5 seconds, flash blue again, and finally go solid blue.

Watching the lights without the hack, it does not do the second flashing red. Just goes from flashing blue to solid blue.

PS output:
`  PID USER       VSZ STAT COMMAND`
`

[2021-10-04 16:30] guino commented on #1
@hackstadt the ppsapp.log output when running ppsapp after manually killing it looks correct but it indicates that device is not enrolled correctly in the tuya app (or whatever phone app of choice), so it keeps trying to connect to the server and not completing which prevents RTSP from working. Did you enroll the device in the phone app and does the video work normally in it ? If so, I have seen o

[2021-10-04 16:37] hackstadt commented on #1
@guido
That previous log was generated with the original pssapp because i forgot to change back to the patched pssapp.

When i manually kill pssapp and run the actual patched pssapp, i get this short log and then it automatically restarts the original pssapp. So, maybe something wrong with my patched app.
[ppsapp.log.zip](https://github.com/guino/Merkury720/files/7279767/ppsapp.log.zip)

[ppsapp-p

[2021-10-04 16:59] guino commented on #1
@hackstadt  I'll take a look at the patch and will let you know. It seemed correct last I checked but maybe I botched something with the hex editor. That said you should be able to use the app and get a full log with the original ppsapp in the SD card (root) without having to kill it manually so please verify this is the case. You can also try onvif without patching with the information posted wit

[2021-10-04 17:38] guino commented on #1
@hackstadt I double checked the patched ppsapp and it should be all good. The changes I made should only have any effect much later in the boot process than your log showed anyway. You should try this:
1-rename the patched ppsapp in the root of SD card to ppsapp-patched
2-boot the device and telnet into it (it will be running the original ppspap from flash)
3-manually kill the original ppsapp
4-ve

[2021-10-04 18:37] hackstadt commented on #1
@guido
i was able to manually kill the original pssapp, ensure it was dead, then run the patched pssapp and was able to get RTSP that way.

[ppsapp-patched.log.zip](https://github.com/guino/Merkury720/files/7280472/ppsapp-patched.log.zip)

However, i changed the kill command to `kill -9 $PPSID` but it still did not kill the original. I will try a `sleep 5` after the kill as well.

Update:
I put `s

[2021-10-04 19:12] guino commented on #1
@hackstadt we need to somehow make sure ppsapp is killed before running the patched one. It is the first time I hear of it not being killed with a simple kill command. You could try using this to kill: `/mnt/mmc01/busybox kill -9 $PPSID` but if that doesn't work the only other option would be to use Dan's changes (https://github.com/DanTLehman/orion_sc008ha) so it just runs your patched ppsapp wit

[2021-10-04 20:54] hackstadt commented on #1
@guino

So, it appears it was trying to kill ppsapp before it was running. I put a `sleep 5` right before it gets the PID and that seems to work. i have booted it up with this custom.sh multiple times and everything, including RTSP, worked each time.

[custom.sh.zip](https://github.com/guino/Merkury720/files/7281249/custom.sh.zip)

Thank you so much for your time and efforts in creating this hack

[2021-10-04 21:26] guino commented on #1
@hackstadt I appreciate the feedback and the donation! It’s interesting that ppsapp wasn’t running yet - I guess we could increase the sleep in initrun.sh or in the env file, but your way should work just as well (no visible difference). Glad it’s working now, enjoy!

[2021-10-07 03:28] richaardvark commented on #15
Something still just isn't right.  Every couple of days I have to pull the SD card and delete [gigabytes worth of crash dumps](https://i.imgur.com/gAlkGtj.png). :(

The RTSP feed is more or less unusable/useless :(  It will work if I restart the camera a couple of times but often won't load or if it does flickers with the entire screen being solid green for 60% of the frames.  If it does finally f

[2021-10-07 14:32] guino commented on #15
@richaardvark

Crash dumps are usually a sign of hardware issues, but that can also happen due to faulty or insufficient power supply. My suggestion is to switch the power supply (possibly for a bigger one) along with the USB cable (with a shorter one if possible) and see if it becomes more stable, otherwise you should just return or claim warranty on the device as that is not normal and likely wo

[2021-10-10 02:09] Jareddlikeewhoaa commented on #1
Could you please make an offline patch for ppstrong-a2-tuya2_geeni-2.7.6.20210207?  I tried myself but gave up because I wasn't finding all the code 😐

[Ppsapp](https://github.com/guino/ppsapp-rtsp/files/5944981/ppsapp-rtsp.zip)

[2021-10-10 16:46] guino commented on #1
@Jareddlikeewhoaa I posted an offline patch to the main list.

[2021-10-27 12:28] richaardvark commented on #15
@guino

Thank you again for the invaluable feedback - everything is working nicely now!  I'm sorry it's taken me 20 days to reply but I have had a lot on my plate recently that I had to tend to and only just now found time to look at this again.  Everything is working perfectly and I'll close this issue now!

Implementing your suggestions worked perfectly but I did discover a couple of things that

[2021-10-27 14:53] guino commented on #15
@richaardvark glad you got it working to your needs.

I also use linux but this is what I have on my VLC (3.0.16) in the 'Simple' view which is default:
![image](https://user-images.githubusercontent.com/4961810/139090067-8ac8bd72-e480-4caf-b490-a6609bdd28c5.png)

I also have played with ffplay and it does work well but not every linux has it available (may need to be compiled manually).

I do app

[2021-11-01 12:47] kwetnico opened #17 "No access : telnet and Snap.cgi"
Hello, I hacked my camera: (hardwareversion ":" M16S_A2_V10_F37 "," firmwareversion ":" ppstrong-a3-tuya2_lsc-4.0.6.20210311 ")
The rtsp stream is working fine thanks.
I wanted to test telnet and live access to snap.cgi but it doesn't work: I have access denied for snapshot and telnet ..
I modified the http.conf file (without the hash) and passwd (with the hash).
I even added the line not to ask f

[2021-11-01 17:28] kwetnico commented on #17
Open here, my cam is 1080p this model :
![image](https://user-images.githubusercontent.com/55591810/139713978-5113e87d-1461-47d5-a3e3-0fdbc2f6a656.png)

Link :
https://github.com/guino/Merkury1080P/issues/17

[2021-11-01 17:28] #17 closed

[2021-11-02 07:15] Nigel1992 commented on #12
@damiantof7 Any new progress ?
I got the same camera and would love to get RSTP working

[2021-11-04 16:45] muebau opened #18 "Kruidvat Smart Indoor IP Camera"
Hello,
I tried this Tuya camera and it works perfectly with the Tuya app.
https://www.kruidvat.nl/kruidvat-smart-indoor-ip-camera/p/5314128

Every time I tried the method described in this repo I end up with a sd card with the following content.

Is this a sign that this camera does not work with this repo or is there something I miss?

# ls -l
total 39M
-rw-r--r-- 1 user user    0 Okt 24  2015 dg

[2021-11-05 07:18] muebau commented on #18
I was able to find the firmware version in the Tuya app and I think its similar to #12 as the firmware is 5.x too.
Is there something I could do to make some progress?

[2021-11-06 19:10] guino commented on #18
There's no mod/hack available for 5.x firmware. If you have the tools and skills to open the device and get a dump of the flash we could try to look into making changes to it but it but it would be limited to what code is available in the firmware and there's no way to implement any of these features: telnet, mqtt (or any web requests notification), mjpeg, snap, play sound. Really best case scenar

[2021-11-06 19:38] muebau commented on #18
Oh ok. Good to know.
Is there a way to downgrade the firmware and make it compatible this way?

[2021-11-06 20:04] guino commented on #18
In theory if you found another device on older firmware with the same exact hardware you could dump the flash from one onto the other and use it only offline.

[2021-11-21 04:39] jperry1234 opened #19 "Help! I've gotten through all the way to step 9 and 10 but I can't access the feed"
I've been able to troubleshoot my way through the entire process with a Merkury Webcam and there is an existing patch. I can't seem to connect to my feed or change the address through the URLs provided in step 10. Thank you in advance for help!

[2021-11-21 04:49] guino commented on #19
@jperry1234 a few questions:
-did you place the patched ppsapp in the root of the SD card ?
-are you able to telnet into the device ?
-did you check the size of your busybox file (1Mb+ when downloaded correctly)?
-does the device work normally with the tuya or manufacturer app ?

You can post a zip of your SD card contents (along with the firmware version) and I can take a look if you like, but ch

[2021-11-21 04:59] jperry1234 commented on #19
@guino Thanks for getting back fast, to answer you questions. Yes I placed the patch ppsapp in the root of the sd card, I haven't attempted to telnet into the device, I checked the sizes and they were different but I repeated the process and I still couldn't get the URLs in step 10 to work, and the device still works with the app.

[2021-11-21 05:02] jperry1234 commented on #19
Here is a link to the sd contents
https://www.dropbox.com/s/gu2c5eksoqou51x/github%20files.zip?dl=0

[2021-11-21 05:15] jperry1234 commented on #19
I prematurely closed the issue

[2021-11-21 05:30] #19 closed

[2021-11-21 18:36] guino commented on #19
@jperry1234 I got your dropbox files, here's what I'm seeing:
1-There's no busybox in the root of the SD card (at least wasn't in the zip file), you need to download it from here: https://github.com/guino/Merkury720/blob/main/mmc/busybox?raw=true (should be about 1.1Mb in size)
2-I see ppsapp.omcsettings in the root of the SD card -- it appears to be patched properly comparing with the home/app/pp

[2021-12-05 13:37] TheAbonimater commented on #1
Hey @guino , Got root acces working but can't get past the ppsapp patching. I tried it but it didn't do anything. I guess the problem is that I don't know how to export it out of Ghidra. So here I'm leaving it over to an expert ;). Would always be appreciatie if you could give a bit more detail about is :)

Camera is a 1080p M4-TY from Laxihub (Tuya)

Device info:
"devname":"Smart Home Camera",
"m

[2021-12-05 17:56] guino commented on #1
@TheAbonimater I was going to suggest trying that first -- you can copy the tuya_config.json file to the sd card, edit it on the computer then copy it back to /home/cfg:
1-telnet into device
2-execute: `cp /home/cfg/tuya_config.json /mnt/mmc01`
3-wait a few seconds (i.e. 30) to make sure disk cache is flushed
4-take the SD card to computer, edit the file (eject it properly)
5-insert card back into

[2021-12-05 18:14] TheAbonimater commented on #1
@guino Just got it working. I never used telnet and pretty new to linux environments so it took me a while. I edited my post how I did it step by step for other people that don't know all the syntaxes. But your way seems to be easier cause you can use a nrml text editor.

Little offside question, If I understand it right the camera always needs a connection to the tuya servers on boot? I tried blo

[2021-12-05 18:29] guino commented on #1
@TheAbonimater glad you got it working. What you want is described here: https://github.com/guino/BazzDoorbell/wiki/Can-I-use-the-device-OFFLINE-(disconnected-from-tuya-servers)-%3F -- you are correct the camera wants to connect to the tuya servers before starting anything so it can set the current time displayed in the video. With the changes described you do need to copy ppsapp from the home/app

[2021-12-05 18:52] TheAbonimater commented on #1
@guino I'm guessing you are referring to "Option 1" as "Option 2" would need a ppsapp patch.
Think "Option 1" would do the trick,at least for know. Going to try it later this evening

Thanks for the quick response and the help/info

[2021-12-05 22:34] TheAbonimater commented on #1
@guino Well I tried it but didn't work. What I found pretty odd...
First I tried it directly by removing everything that kills and loads the ppsapp. That didn't work so I thought lets do it step bye step.
I tried copying the ppsapp from /home/app in the root of SD card like you said and followed every step from [here](https://github.com/guino/ppsapp-rtsp/issues/21#issuecomment-918777873). That als

[2021-12-06 00:16] guino commented on #1
@TheAbonimater did you notice if you lost connection to the device for about 2 minutes after booting up ?

your files seem fine except for the one with the commented lines where you should also comment the `/mnt/mmc01/ppsapp &` line. I can patch it for offline if you like but you'd need a NTP server and such.

[2021-12-06 07:00] TheAbonimater commented on #1
@guino I tried changing the sleep timers from 180 -> 200 and 120 -> 180. What I noticed then is the Camera takes 45sec to boot and look for connection (red light to blue light blinking) then 6sec to connect to the wifi (blue blinking to blue solid). After 8sec the cam turns of the wifi (Blue light to red), after 4sec it tries to connect again (redlight to blue blinking) then after 10sec it is conn

[2021-12-06 20:27] guino commented on #1
@TheAbonimater Here's the offline patch for your ppsapp: [ppsapp-offline.zip](https://github.com/guino/Merkury720/files/7663351/ppsapp-offline.zip) -- this should allow you to go with option 2 (no internet connection) but like I said if you don't setup a ntp server + use busybox to set the time (or set the time some other way), the video will display the wrong time.

[2021-12-06 21:19] TheAbonimater commented on #1
@guino That's very much appreciated! But it didn't work (Guess its on my end.). Also noticed once the SDcard with the hack is inserted the camera doesn't make any connection sounds.
Going to format the SD and trying a clean install.

[2021-12-06 21:34] guino commented on #1
@TheAbonimater  I would try the standard custom.sh with the non-patched ppsapp on the root of the SD card to make sure it works normally -- some firmware/hardware really don't like it when we kill ppsapp and run a new copy and this would tell us if you have one of those.

[2021-12-06 23:07] TheAbonimater commented on #1
@guino Just did that, Still the same all ports are open. Red light turns on after boot goes to Blue blinking connecting to wifi, solid Blue connected, turns Red again for 5-10s and than Blue blinking and Blue solid again. Tried it with both nrml and patched ppsapp. RTSP doesn't work if enabled in custom.sh (previously I did that with the telnet solution)

So I am guessing the cam doesn't like the

[2021-12-06 23:16] guino commented on #1
@TheAbonimater it should have worked with option 1 but I remember seeing the line that re-runs ppsapp still uncommented on your script. I don’t know if you tried commenting that line to see if it could work.

if the camera doesn’t work normally when the non-patched ppsapp is in the root of the SD card (with the default custom.sh) then you may need to use Dan’s changes to start ppsapp straight up (

[2021-12-06 23:21] guino commented on #1
@TheAbonimater here are dans changes: https://github.com/DeltaTangoLima/orion_sc008ha#conclusion you should be able to use it as posted as long as you make sure your /proc/cmdline settings are used in the env file. You need to pay attention that his script uses ppsapp-rtsp in the root of the SD card. It is fairly safe to try and restore things as long as you know your original/proc/cmdline.

[2021-12-06 23:44] TheAbonimater commented on #1
@guino Oke I'll take a look at in an give it a try...

This was indeed a mistake and I commented it afterwards without succes, still kept connecting to the app :/

[2021-12-07 00:17] TheAbonimater commented on #1
@guino That didn't work either... Just the same behavior as before, and keeps connected to the app.

`/mnt/mmc01/set onvif_enable 1` in custom.sh did work, I had a typo.

Here are my SDcard files if you need them.
[SDcard.zip](https://github.com/guino/Merkury720/files/7664344/SDcard.zip)

[2021-12-07 14:48] TheAbonimater commented on #1
@guino I'll give [This](https://github.com/guino/Merkury720/issues/1#issuecomment-933705484)  and [This](https://github.com/guino/Merkury720/issues/1#issuecomment-933868688) a shot as well

EDIT: Ran the PS command and got the following response. To mee it looks like the patsh file is running like it should and the ppsapp file got killed.

`BusyBox v1.20.2 (2020-12-05 17:05:42 CST) built-in shell

[2021-12-07 22:58] guino commented on #1
@TheAbonimater  that looks like it is running the correct ppsapp-rtsp file, yes. I also see on your SD card files that ppsapp-rtsp is the patched ppsapp (for offline).

Please notice the offline patch does NOT prevent the phone app from working -- all it does is **allow** the device to fully start when there's no internet connection. So if your device is on a wifi that has internet, it will still

[2021-12-08 19:46] TheAbonimater commented on #1
@guino Well I tried allot before you're answer and maybe fucked something up. It keeps loading the default ppsapp and can't get Dans change to work again? Really odd, even if I copy the folder I uploaded here to the SDcard as I know it worked... I'll keep trying to get that working first and then I'll keep you updated on the hosts file.

Is it possible that zipping/unzipping/copying/pasting change

[2021-12-09 01:18] guino commented on #1
@TheAbonimater you can always start fresh, but copying/unzipping/zipping files should not modify them. Anytime you **edit** a file in windows it could add incompatible new line characters to the file (depending on the editor used).

You’re welcome to post a zip of what you have and your current /proc/cmdline output and I can check the files.

[2021-12-09 16:37] TheAbonimater commented on #1
@guino So completely reset the cam, formatted the SD and made a clean install of the hack. See the CleanSD zip.
Using notepad++ to edit the files. Guess its time to find an old laptop and boot Ubuntu on to it :p

/proc/cmdline: `mem=64M console=ttySAK0,115200n8 loglevel=10 mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cfg) ppsAppParts=5 ip=0 - ip=30;/mnt/mmc01/ini

[2021-12-09 17:22] guino commented on #1
@TheAbonimater your files look ok as far as I can tell -- I see the hack file in the SD card which indicates the hack is working -- can you confirm the device is working correctly ?

On the PatchSD.zip I can see the ppsapp-rtsp is patched for offline usage, you should execute `ps` on telnet to verify it is running it (and not just ppsapp). If that's the case then you should try booting the device

[2021-12-09 17:49] TheAbonimater commented on #1
@guino Ok thank you to verify that the files are OK. The problem I'm suddenly running in to is that it doesn't run the ppsapp-rtsp, ./ppsapp is always running, and ppsap-rtsp not? I got it ppsapp-rtsp running a few days ago, thought than there was something wrong cause the app kept running but didn't block the wifi back then....

PS output:
 PID USER       VSZ STAT COMMAND
    1 user       972 S

[2021-12-09 18:00] guino commented on #1
@TheAbonimater ok, the /proc/cmdline you posted above `mem=64M console=ttySAK0,115200n8 loglevel=10 mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cfg) ppsAppParts=5 ip=0 - ip=30;/mnt/mmc01/initrun.sh)&:::::;date>/tmp/hack;(sleep` is to work with the the hack from #13 (NOT Dan's changes). If you applied Dan's changes you should have a different /proc/cmdline -- ple

[2021-12-09 18:22] TheAbonimater commented on #1
@guino Okey so I found this /proc/cmdline in an file a saved first time trying to hack it (That should be the original one):
`setenv bootargs mem=64M console=ttySAK0,115200n8 loglevel=10   mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cfg) ppsAppParts=5 ip=192.168.1.99:::255.255.255.0 eth=00:55:7b:b5:7d:f7`

Aslo found out that S90PPStrong-290 is not copied to /et

[2021-12-09 18:24] guino commented on #1
@TheAbonimater I need the **current** output of http://admin:056565099@IP/proc/cmdline

[2021-12-09 18:30] TheAbonimater commented on #1
@guino mem=64M console=ttySAK0,115200n8 loglevel=10 mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cfg) ppsAppParts=5 ip=0 - ip=30;/mnt/mmc01/initrun.sh)&:::::;date>/tmp/hack;(sleep

[2021-12-09 18:31] guino commented on #1
@TheAbonimater ok, so please copy ppsapp from home/app/ppsapp to the root of the SD card, let it boot up (it will probably make two startup sounds) then verify it works normally.

[2021-12-09 18:40] TheAbonimater commented on #1
@guino ppsapp from home/... is now running from `840 user      127m S    /mnt/mmc01/ppsapp`
/proc/cmdline still the same

Edit:
If is change custom.sh to run ppsapp-rtsp it also work.
Noticed on both patched and not patched version of ppsapp it keeps connecting and disconnecting from the wifi if it runs from the root of SD-Card

[2021-12-09 19:06] guino commented on #1
@TheAbonimater so you're seeing an issue (wifi disconnect) when running from the root of the SD card but NOT if there's no ppsapp on the root of SD ? Please notice I asked you to copy the ppsapp from home/app to root (which is not patched).

[2021-12-09 19:09] TheAbonimater commented on #1
@guino Exactly! Yes I know I tried both of them to check

[2021-12-09 19:13] guino commented on #1
@TheAbonimater so your only option to run a parched ppsapp is using dans changes - you will need to make sure you boot with the reset button pressed for a couple of seconds to ‘apply’ the boot settings after making sure the files are on the SD card - if successful you should have a **different** /proc/cmdline output and it should run ppsapp-rtsp on the root of the sd card but please copy /home/app

[2021-12-09 19:24] TheAbonimater commented on #1
@guino Okey and what should be in the env file for dan's methode? Think I'm doing something wrong there....

[2021-12-09 19:31] guino commented on #1
@TheAbonimater give me a minute to look it up

[2021-12-09 19:44] guino commented on #1
@TheAbonimater try this env file:
[env.zip](https://github.com/guino/Merkury720/files/7687983/env.zip)

Make sure S90PPStrong-290 is this one: https://github.com/DeltaTangoLima/orion_sc008ha/blob/master/mmc/S90PPStrong-290

And make sure you copy ppsapp from home/app/ppsapp to the root of the SD Card.

If it works after booting your /proc/cmdline should be different (post it).

[2021-12-09 21:31] TheAbonimater commented on #1
@guino `mem=64M console=ttySAK0,115200n8 loglevel=10 mtdparts=spi0.0:256k(bld),64k(env),64k(enc),64k(sysflg),3m(sys),4032k(app),640k(cfg) ppsAppParts=5 ip=0 - ip=\${T//_/\$\'"\\x20"\'}:::::";T=\"sleep_5;mkdir_-p_/mnt/mmc01;mount_-t_vfat_/dev/mmcbl` Thats the new cmdline I get.

Is it normal that telnet port isn't open?

EDIT: Looks like the cmdline got cut? and not running the S90PPStrong?

[2021-12-09 22:28] guino commented on #1
@TheAbonimater based on the above I am afraid Dan's method won't work because on your firmware because the kernel boot parameter space is not long enough to hold the entire command (the ending should have been `ip=\\${T//_/\\$\\'"\\\\x20"\\'}:::::";T=\\"sleep_5;mkdir_-p_/mnt/mmc01;mount_-t_vfat_/dev/mmcblk0p1_/mnt/mmc01;cp_/mnt/mmc01/S90PPStrong-290_/etc/init.d/S90PPStrong;/mnt/mmc01/initrun.sh&\\

[2021-12-09 23:20] guino commented on #1
@TheAbonimater the telnet will only work if the cmdline is complete (in your case using https://github.com/guino/Merkury1080P#conclusion) -- it would not be open with that cut off cmdline you posted.

[2021-12-10 17:16] TheAbonimater commented on #1
@guino I'll try that later. I'm sure that I'm doing something wrong or did something wrong and needs to be fixed first.
[This is the post where the PS command show I got it working then and it wasn't acting weird](https://github.com/guino/Merkury720/issues/1#issuecomment-987995068).
Think I but a wrong bootarg in the env file. I read in [TROUBLESHOOTING / RESTORE](https://github.com/guino/BazzDoor

[2021-12-10 23:34] TheAbonimater commented on #1
@guino Seems like the nrml hack (Your hack) seems to work now, sometimes the wifi still disconnects but its less than the previous time. May have been the wifi that did a bit glitchy then?

Going to try the 'universal' way tomorrow so I can keep you updated if the 'hosts file' needs any tweaking for this firmware.

Do you have the adress for mjpeg and snap aswell, or does it create to much work? T

[2021-12-11 02:39] guino commented on #1
@TheAbonimater here are the mjpeg/snap and play.cgi addresses for your firmware:
mjpeg/snap: 0x3843dc
play: 0x0384be8

I have seen many of these cheap cameras with faulty wifi -- my doorbell gets congested alot (seems like more than it should) I have another cheap camera (non-tuya but also chinese) which freezes all the time when the wifi is enabled so I only use it on ethernet cable, so I would n

[2022-01-19 14:43] jtjme2000 opened #20 "Config.jsonbfile can’t edit (video doorbell)"
Do I have to patch my device if onvif is turned off in tuya_config.json file. If not what is needed to edit my config file. Just to turn on onvif as 1 instead of 0.????Need help plz

[2022-01-19 16:27] guino commented on #20
@jtjme2000 it all depends on your firmware version. Versions 2.x only required changing the onvif_enable setting to 1 while versions 4.x may need you to also set the onvif password on the config.

To edit the tuya_config.json you need to either telnet into the device and use `vi` (not easy) or you can do the following:

Modify initrun.sh and add this **above** the `while` line:
[code]
Add this **b

[2022-01-19 16:31] jtjme2000 commented on #20
My firmware is above 4.. it's 5.0 something is it still possible

[2022-01-19 16:33] jtjme2000 commented on #20
Also how do you get a initrun.sh file because I don't see it on my sd card

[2022-01-19 16:44] guino commented on #20
@jtjme2000 It sounds like you haven't applied the hack yet. Before you can do anything you have to root your device (apply the hack).

1-Check the firmware version on your device using the phone app if came with.
2-Apply the hack (root the device) based on your firmware version:
- If your firmware is 2.7.x follow the information here: https://github.com/guino/Merkury720#rooting-and-customizng-the-

[2022-01-19 16:54] jtjme2000 commented on #20
Only way to have a initrun.sh file is by rooting the device???

[2022-01-19 17:45] guino commented on #20
@jtjme2000 initrun.sh will only be useful if the device is rooted. You will only be able to make changes to the device (such as enable RTSP or ONVIF) if the device is rooted. If you're not willing to root the device then all you can do is use the device as provided by the manufacturer.

You may be able to install the tuya app on an emulator such as bluestacks and access the video on the computer t

[2022-01-20 15:43] jtjme2000 commented on #20
console=/dev/null LX_MEM=0x3fe0000 mma_heap=mma_heap_name0,miu=0,sz=0x1d00000 pcbversion=BELL5S_S1_V10 sensor=gc2063mipi

This is what I received from my doorbell (ip:8090/proc/cmdline/). How do I edit my firmware and can tools be bought off Amazon/ebay.

[2022-01-20 16:28] guino commented on #20
@jtjme2000 from your /proc/cmdline response your firmware doesn't seem to be 2.7.x, 2.9.x, 2.10.x nor 4.x -- this means there's a good chance your device is NOT running linux and most of the information/files we have here will not be useful to your device.

If you want to modify your device: you could open it up and read/modify/write the flash directly using a flash programmer (i.e. TL866ii plus),

[2022-02-11 19:35] sanscorp1 opened #21 "cannot open commandline?"
Not an issue, but as a total noob I must be doing something wrong.

I want to use RTSP / Onvif but the web interface keeps asking me for a password when I'm trying to open the commandline. I copied the contents op MMC to the root of an SDHC card formatted as FAT32.

admin:admin works for deviceinfo, but that's it.

{"devname":"Smart Home Camera","model":"Bullet 4S","serialno":"103020868","software

[2022-02-11 20:04] guino commented on #21
@sanscorp1 for that firmware you will follow the steps 1-2 listed [HERE](https://github.com/guino/Merkury720#rooting-and-customizng-the-device), then:

- Copy the 3 files posted [here](https://github.com/guino/Merkury1080P/tree/main/mmc) over of the mmc files on the SD card from the original instructions
- Create the ppsFactoryTool.txt file doing a RIGHT CLICK on this link: https://github.com/guin

[2022-02-11 20:18] sanscorp1 commented on #21
Thanks, I now got the files (hack, home etc.) on the SD card.
It was unclear to me that I needed all the files under the 720p repo and only had to overwrite the 3 files under 1080. I only looked at the 1080 files.

I put the correct (patched) ppsapp-onvif.ips on the root of the card and set a user and password in httpd.conf

with the URL admin:056565099 I got a login prompt, but when changed to ad

[2022-02-11 20:22] guino commented on #21
@sanscorp1 you have to take one step at time here -- did you follow the steps I listed, if so: did it say 'done' on step 7? do you see the 'home/app/ppsapp' file in the SD card ?

[2022-02-11 20:26] sanscorp1 commented on #21
I get an error: "connection refused" so I never saw the step "done" and assumed it was correctly executed because the file "hack" is on the SD card.

I will start over tomorrow, downloading all the appropriate files, clean SD and reset the camera first.

Thank you for your very quick reply!
I'm sure it will work after a good night sleep.

[2022-02-11 20:28] guino commented on #21
If you see the home/app/ppsapp in the SD car then it should have worked (even if you don't see 'done' in step 7) then it's just a matter of enabling RTSP either using telnet or with a patch.

[2022-02-12 11:33] sanscorp1 commented on #21
Does the name matter? Should I keep the format provided (i.e. ppsapp-onvif.ips) or should I rename it to just ppsapp like in the home/app folder?

By the way, even now when I started over, I cannot open any URL, it all results in "connection refused".
So I guess that is inherit for this model (Bullet 4S) under the brand LCS (sold by Action.nl).
I'lll wait 15 minutes before beginning step 8 to assu

[2022-02-12 16:13] guino commented on #21
@sanscorp1 did you get a home/app/ppsapp file **created automatically** during boot?

I cannot say it enough: **DO NOT** run a ppsapp file in your device that was not already on your device (ie automatically copied to your sd card during boot) at the risk of bricking it.

The ips files are **patches** — there’s a whole set of steps (https://github.com/guino/ppsapp-rtsp/issues/1#issue-759079080) to

[2022-02-12 16:45] sanscorp1 commented on #21
I thought the patched ppsapp in the repo was a complete pre-patched file and I only needed to follow the "how to patch" when the excisting patch would not be available.
I need to learn how to read better and take my time with these things.

After yesterday I performed a reset of the camera, so no it was not enrolled and I just did that again, tuya_config is now available trough telnet :)

I just p

[2022-02-12 16:49] guino commented on #21
@sanscorp1 glad you got it working, thanks for letting us know.

We only have patch files available to download because we don’t want anyone bricking their devices by using the wrong file (plus there’s a legal aspect to avoid by doing that).

[2022-03-06 23:08] Stormtracker221 commented on #1
@Guino -Hello. I have the 720 version 2.7.6 also and finally got it to take the hack.
When I try to apply the patch it is saved as a text file. I renamed even though the original name was the same (ppsapp) already. No suffix, but it still saves as a text document. Is that right? When choosing the patch file should it be the zipped file or unzipped?
Please advise and thank you for your dedication t

[2022-03-06 23:44] guino commented on #1
@Stormtracker221 Assuming you followed the steps in https://github.com/guino/ppsapp-rtsp/issues/1#issue-759079080 the file you save should have the EXACT same size as the original ppsapp (just check it after saving) and it should work as long as you rename it to ppsapp and save it to the root of the SD card.

The filename for the download will depend on the browser used -- I use firefox and it ask

[2022-03-07 01:21] Stormtracker221 commented on #1
@guino  So it's ok that it is showing on the SD card as a text document?
The file size is exactly the same as the ppsapp file in Home/App/ppsapp

[2022-03-07 01:27] guino commented on #1
@Stormtracker221 NO - it should NOT show as a text document - this likely means you have .txt in the filename and you need to enable ‘show extension’ in the settings to be able to remove the extension and make the filename just ‘ppsapp’.

Or just use a ‘good’ we browser that saves the file with the correct name and avoid dealing with the filename.

[2022-03-07 02:23] Stormtracker221 commented on #1
@guino   Wow, that was easy!
And OMG it works. !!!
Thank you very much

[2022-03-27 02:32] JerresonJ commented on #1
Removed

[2022-04-28 01:44] maxhunstar opened #22 "Hack Isn't applied"
Hello,

I've got some issues applying the root hack to a Geeni 720p camera.

/home/ppsapp doesn't appear to be created when needed.

Here's the output of the various addresses :

--------------------------------------------------
http://admin:056565099@192.168.17.115/proc/cmdline
-------------------------------------------------------------
mem=64M console=ttySAK0,115200n8 mtdparts=spi0.0:256k(bld

[2022-04-28 01:50] guino commented on #22
@maxhunstar post a zip of your sd card files (without SDT folder) so I can review. The hack is installed so I just want to check you have the right initrun.sh and that it is not windows formatted or something.

please also post the response for:
http://admin:056565099@192.168.17.115/proc/self/root/tmp/hack

[2022-04-28 02:35] MsMaximeSeguin commented on #22
Hi,

Thanks for the reply :-) Here's the zip and the response !

-----------------------------------------------------
http://admin:056565099@192.168.17.115/proc/self/root/tmp/hack
-----------------------------------------------------
Thu Jan  1 08:00:13 CST 1970

[sdr.zip](https://github.com/guino/Merkury720/files/8579062/sdr.zip)

[2022-04-28 03:31] guino commented on #22
@maxhunstar your files seem fine and the response you provided indicates the hack is working -- the only question is why initrun.sh doesn't seem to be running -- from your listing it does appear to be in the ROOT of the SD card (not within any folders) -- can you just confirm it for me ? Also, can you confirm this is the same SD card used to install the hack (and you didn't re-format it after) ? J

[2022-04-28 23:08] MsMaximeSeguin commented on #22
@guino As you mentioned both in the readme and in this issue, it was the SD card. Just went to the corner store and bought the smallest, shadiest SD and it worked! thanks for that hack and thanks for the help.

Prior to that I tried to format the 1st SD from another OS and that didn't work.

Quick question, once I patch the ppsapp, can I use the the patched file on another cam that came in the sam

[2022-04-28 23:16] guino commented on #22
@maxhunstar glad you got it working. If the devices have the same firmware version you should be able to use the same patched ppsapp , but you still have to install the hack and copy the other files for it to work.

[2022-04-29 00:03] #22 closed

[2022-05-08 22:04] SirLouen opened #23 "Tons of models, I wonder if there could be a breakthrough between them"
I've seen that most of the projects revolve around Tuya ecosystem

I've downlaoded Tuya app to discover that the interface is almost the same as many others and the pairing system the same, like Smart Life, or CloudEdge to mention some

I currently have a cam [ZS-GX1S](https://github.com/SirLouen/zs-gx1s) which more or less follows the same principles I read (including most of the endponts, port 8

[2022-05-09 01:49] guino commented on #23
@SirLouen if you tried the the methods/files from 720p, BazzDoorBell and 1080p (3 different repositories) then chances are you have a device with different boot loader address and the only way to find the address is to connect to the serial port or download the flash with a hardware programmer - both require opening the device and require having the hardware/knowledge to do it. There’s also a chan

[2022-05-09 09:56] SirLouen commented on #23
I think this is the main problem in my progress: that url doesn't give any result.

Although many other commands do:

[code]

Firmware is not tuya but b6 based (not sure what is b6 though)

There are plenty of similar endpoints in between:
https://github.com/SirLouen/zs-gx1s#other-endpoints

But particularly the proc/cmdline doesn't work :(

Did you find all that info by downloading flash through

[2022-05-09 14:47] guino commented on #23
@SirLouen the lack of response for /proc/cmdline is usually an indication for non-linux firmware.

I tried everything to get root and had to use a hardware programmer in the end — details of my process are posted here: https://github.com/guino/BazzDoorbell

The only reason there’s a way to root similar devices without using as serial port or hardware programmer is because of the information I got

[2022-05-09 16:23] SirLouen commented on #23
@guino I still have some kind of hope. I have opened the cam and I can spot almost the same two chips you mentioned in the Bazz DoorBell at least the SOC is the same and the flash is almost identical.

https://github.com/SirLouen/zs-gx1s#electronics-opening-the-camera

![](https://github.com/SirLouen/zs-gx1s/raw/master/img/zs-gx1s-1.jpg)

So, my faith is still up. Now trying to identify the UART p

[2022-05-09 16:24] SirLouen commented on #23
I feel they could be these:

![image](https://user-images.githubusercontent.com/224787/167454411-faaa4ed9-7e8c-4047-80fc-0faf30d7e5d4.png)

[2022-05-09 17:19] guino commented on #23
@SirLouen could be the one you marked or the one at the bottom (probably more likely):
![Screenshot_2022-05-09_13-17-31](https://user-images.githubusercontent.com/4961810/167463099-66062605-4e01-4ad2-96b0-7860434b7c3c.png)

[2022-05-09 17:32] SirLouen commented on #23
Problem: I'm not too savvy on electronic affairs :( But still willing to try.

I feel I could follow your same procedure with the pin 6 of XMC flash and go straight to pick up the firmware which is the important thing here.

Where are you sticking the second clip?

![image](https://user-images.githubusercontent.com/224787/167465107-d4e1d577-d4f9-485e-9e8e-07462ec5e853.png)

[2022-05-09 17:40] SirLouen commented on #23
Anyway, I've been thinking that you could be running your scripts, because you found the /proc/ executable mechanism, straight from the beginning, right?

So despite I could find the firmware file I could not do much with it...

[2022-05-09 18:27] guino commented on #23
@SirLouen The clip end you marked with "????" is not touching anything -- I was simply pointing out the pin that I had to disconnect to read the flash (the one you marked with the arrow). Some people have reported being able to read the flash without making changes (depends on the board) and other people have reported having to remove the whole chip to read the flash.

You have to be careful about

[2022-05-09 22:21] SirLouen commented on #23
- How can you cut the CLK pin?

- Which were your schematics from the cam board to your hardware programmer? I see you used a CH341A USB programmer. I will try to see some YT videos to understand how to manage to make it working.

[2022-05-09 22:42] guino commented on #23
@SirLouen I have cut pins on chips before and soldered back using electronics needle cutting pliers — whatever your plan is I highly recommend practicing on some old/junk board first.

The programmer is usually as simple as connecting pin 1 of the chip to pin 1 on the header. The one I got had to be modded cause it was giving out 5v on signal pins. There’s different software available (windows/lin

[2022-05-09 23:43] SirLouen commented on #23
Ok I think I have the firmware, which was the processor you used for GHidra?

![image](https://user-images.githubusercontent.com/224787/167515668-20eb55cd-1be8-4823-891a-c566ed60fb8d.png)

[2022-05-10 00:04] guino commented on #23
@SirLouen did you run it thru binwalk? It should be enough to know if it’s linux.
The processor should be armv7 32 little.

[2022-05-10 00:38] SirLouen commented on #23
This is what I've found:

[code]

It's kind of weird that the [MECO J5 doorbell](https://github.com/guino/BazzDoorbell/issues/35) also used CloudEdge app like my cam, and the firmware  version he was using is almost thje same, but still I cannot access /proc things through my camera :(

[I've uploaded the firmware image to my repository](https://github.com/SirLouen/zs-gx1s/blob/master/app.img).

A

[2022-05-10 01:25] guino commented on #23
@SirLouen that doesn’t look like that is standard linux as I don’t see it listing a kernel for the firmware. You may be able to find some setting or code to change and enable rtsp but it won’t be anything we have posted before.

[2022-05-10 10:14] SirLouen commented on #23
From what I see there is another OS used for the same chipset we have in our cams (HI3518), called LiteOS
https://gitee.com/LiteOS/LiteOS

So we are talking about a Unix based system as we clearly can say in the paths but I cannot confirm how it goes in terms of kernel

It seems that Tuya has also launched some LiteOS in the latest models, probably the ones you used, were older ones.
https://githu

[2022-05-10 11:01] SirLouen commented on #23
I've seen that [you mentioned it before](https://github.com/guino/BazzDoorbell/issues/35#issuecomment-901434026)

So here is a dead end for this cam :(

I'll have to connect to the UART since I've seen that some people are able to run commands straight on that bootloader, but have not seen anyone achieving anything interesting so far :(

Let's see where this takes.

[2022-05-10 19:52] guino commented on #23
@SirLouen I have seen at least one 5.x firmware running linux, but most 5.x firmware are RTOS/LiteOS and we haven't been able to make any changes to that. It is not 'impossible' -- if the code is there someone with enough time could potentially patch it to enable any feature not enabled by default. It would take a lot more effort than on the linux versions, would require hardware programmer and wo

[2022-05-11 08:21] SirLouen commented on #23
Interesting that OpenIPC I've never heard about
But the documentation of that project is completely absent + all Telegram groups are 100% Russian. A very difficult access barrier :)

But they seem they are just starting (around 1 yr project). Let's see how it evolves.

[2022-05-11 14:37] guino commented on #23
@SirLouen not sure where you're seeing stuff in Russian -- I see they have some docs in that but I never once was presented russian option without requesting it.. the firmware for your device should be this one: https://github.com/OpenIPC/firmware/releases/download/latest/openipc.hi3518ev300-br.tgz the documentation I'm seeing is this one: https://github.com/OpenIPC/wiki/blob/master/en/index.md wh

[2022-05-11 15:42] SirLouen commented on #23
I've talked with them, and this is a super challenge...

Basically, first I should be flashing that firmware, and soldering (and finding) if there is a USB connection for the cam (other than the battery charging one, one for data). That would be super-complex because my knowledge on SoC and boards is basically 0.

Maybe I would take it as a crash course in the future but it will require researchin

[2022-05-12 14:35] guino commented on #23
@SirLouen I thought you could flash the firmware with the programmer (like you used to read it), but without support for your wifi chip it is basically useless. Some cameras are just more trouble than they're worth. I have an ezviz camera/doorbell running RTOS and luckily there was a firmware version for it that has onvif+rtsp so that's what I flashed and how I use it -- so if you could find firmw

[2022-05-12 14:50] SirLouen commented on #23
I've contacted all the white labels sites to see if someone could provide me such firmware but no luck

Lucky enough, today @jonwedell has replayed in another issue in the @youribonnaffe repo and found me a good alternative

https://github.com/youribonnaffe/iegeek-security-camera/issues/1

Basically there is a LowFi snapshot URL that works on my cam (/devices/snapshot/)

I'm starting to think that

[2022-05-14 16:16] pbethune98 commented on #1
Hello Guino,

thank you for you work. I managed to make the hack work on my camera and enable Telnet.
I would like to enable RTSP. I tried to patch the ppsapp but i failed :(

Can you help me please ?

devname | "Smart Home Camera"
-- | --
model | "Mini 7C"
serialno | "059878433"
softwareversion | "2.7.4"
hardwareversion | "M7C_AK_V10_1245"
firmwareversion | "ppstrong-a2-tuya2_teco2-2.7.4.20191108

[2022-05-14 20:38] guino commented on #1
@pbethune98 I can patch it for you but I need you to post a zip with your ppsapp so I can do it.

[2022-05-14 20:48] pbethune98 commented on #1
Hi,
my bad ! Here it is.
Thank you very much.

[ppsapp_pbethune98.zip](https://github.com/guino/Merkury720/files/8693835/ppsapp_pbethune98.zip)

[2022-05-16 17:49] guino commented on #1
@pbethune98 Please try this patch and let me know so I can post it in the main list (I expect it to work):

[ppsapp-rtsp.zip](https://github.com/guino/Merkury720/files/8702248/ppsapp-rtsp.zip) Please follow this how to patch guide https://github.com/guino/ppsapp-rtsp/issues/1#issue-759079080
snap/mjpeg.cgi address: 0x2c8000
play.cgi address: 0x02c8158

[2022-05-18 10:48] pbethune98 commented on #1
Hello @guino

I confirm you that it is working well :) Thank you very much !

[2022-05-23 12:12] OwensDataCenter opened #24 "ISSUE CLOSED SD Card not showing up on windows"

[2022-05-24 13:27] #24 closed

[2022-05-24 22:33] OwensDataCenter opened #25 "Camera Compatibility List"
- [x] Geeni LOOK
- [ ] Geeni Hawk 3
- [ ] Geeni Hawk
- [ ] Geeni Sentinel
- [ ] Geeni Sentry
- [ ] Geeni Aware

If one of these cameras on this list work, Reply to this issue.

[2022-05-27 19:57] ghost commented on #1
Hi, do you have a patch for
`{"model":"Mini 7C","softwareversion":"2.7.4","hardwareversion":"M7C_AK_V10_1245","firmwareversion":"ppstrong-a2-tuya2_teco2-2.7.4.20191108"}`

  [ppsapp.7z](https://zipzopzoobitybop.com/u/84471.7z)

Would be a big help, I got like 8 of these cameras everywhere. :)
Tried searching known patches, but nothing matched 100% so rather safe than sorry

[2022-05-27 20:04] guino commented on #1
@mikaelssen it is the one listed above: https://github.com/guino/Merkury720/issues/1#issuecomment-1127962175

[2022-05-30 12:11] OwensDataCenter opened #26 "All of my issues into 1 issue."
I have 3 cameras and 1 of them keeps restarting every 13 minutes and it makes my whole security system unreliable. Is it because it is getting overloaded?
Here's what happening to that camera at night
![image](https://user-images.githubusercontent.com/74568785/170989537-d72f04e7-c12b-470b-abd1-5fabdfd8c372.png)
I have my router telnetting into the camera to set the time because I don't like settin

[2022-06-02 18:51] guino commented on #26
@OwensDataCenter the 13 minute limit is something we have seen/documented before -- it usually happens when you're using RTSP over UDP for streaming. You should check if your security system is able to use RTSP over TCP so it won't have that issue with restarting every 13 minutes. If your security system doesn't support RTSP over TCP your only option would be to stream from the camera to middle-ma

[2022-06-02 19:15] OwensDataCenter commented on #26
Thank you! Yes, that camera is the 720P version, the rest is the 1080P version.

[2022-06-05 19:09] damienwolf07 commented on #26
@guino Thats not the problem, I don't have RTSP. I don't really want it because of all the chaos is caused over my Wi-Fi (The 2.4 GHz Wi-Fi network is very crowded). I am using the MJPEG/JPEG in the cgi-bin directory to get the feed.

Also, I tried copying the files that were on that SD card (the one that was giving me problems) to all of the other cameras' SD cards and now all of them are having

[2022-06-05 22:21] guino commented on #26
@OwensDataCenter I have never heard of issues using mjpeg for extended periods of time. Feel free to post a zip of your SD card files (without SDT folder) and I can review but I would expect that it should work 100% or the time or not at all.

[2022-06-05 23:13] damienwolf07 commented on #26
@guino  I changed the user (And SSID)/pass of everything to admin/admin for privacy and security (Keep that in mind)
[SD Card.zip](https://github.com/guino/Merkury720/files/8840955/SD.Card.zip)

[2022-06-07 23:43] OwensDataCenter commented on #26
@guino Did you find anything?

[2022-06-08 12:12] damienwolf07 commented on #26
This problem only happens when the IR is on and is night-time.

[2022-06-08 17:33] guino commented on #26
@OwensDataCenter I looked at your files and this is what I see:
1-You don't need to patch ppsapp to use mjpeg/snap, so you can remove ppsapp from the root of the SD card (which I recommend to make the startup simpler/faster).
2-Your files have the correct address for your firmware, seem to have the correct format (thus are working) -- the only reason I can think of for it to 'stop' working would b

[2022-06-25 23:45] illest23 commented on #1
Hey I would appreciate some help with a patch for this Merkury 720p version:
Model: Mini 7C
Software version: 2.7.10
Hardware version: M7C_AK_V10_GC4
Firmware version: ppstrong-a2-tuya2_geeni-2.7.10.20220105

I was attempting to patch it myself but Ghidra does not show any functions in the decompiler so I've not been able to get very far with it. Thank you!

[2022-06-26 00:18] guino commented on #1
@illest23 post a zip of the ppsapp file and I can take a look.

[2022-06-26 00:21] illest23 commented on #1
@guino ah sorry, here it is
[ppsapp1.zip](https://github.com/guino/Merkury720/files/8985751/ppsapp1.zip)

[2022-06-26 00:34] guino commented on #1
Try this patch [ppsapp-rtsp.zip](https://github.com/guino/Merkury720/files/8985767/ppsapp-rtsp.zip) following this [HOW TO PATCH GUIDE](https://github.com/guino/ppsapp-rtsp/issues/1#issue-759079080)
snap/mjpeg.cgi address: 0x02c17b0
play.cgi address: 0x02c1fbc

I'd appreciate it if you let me know it works ok so I can post it in the main list of patches -- I don't expect any issues with it (should

[2022-06-26 01:46] illest23 commented on #1
@guino So it seems the patch took and I am able to navigate to the snap and mjpeg links, however there are issues with them, and the RTSP stream is not working at all.

**snap link**
So for the snap link, the error reads "The image "_snap url_" cannot be displayed because it contains errors." I captured the packets in Wireshark to see what is going on and it shows an image called pic.jpg being tra

[2022-06-26 02:10] guino commented on #1
@illest23 snap/mjpeg should work even without the patched ppsapp on the SD card, so just make sure the address is set in the snap/mjpeg cgi file and it should work even without patching ppsapp.

For RTSP the patched ppsapp should be in the root of the SD card and should be named exactly **ppsapp** and you need to restart the device after the file is in place.

feel free to post a zip of the patche

[2022-06-26 19:21] illest23 commented on #1
@guino Alright so snap/mjpeg are fixed, had a typo in both somehow, haha. I double checked the ppsapp and even repatched and retried it, still no luck. I'll attach it here. Thank you so much for your help!
[ppsapp.zip](https://github.com/guino/Merkury720/files/8987337/ppsapp.zip)

[2022-06-27 21:50] guino commented on #1
@illest23  your patched ppsapp looks fine, I'll double check the changes I made and let you know. Meanwhile the only thing I can recommend is that you double check the file is named **ppsapp** and it is in the root of the SD card (not on any directory like home/app). If you edited anything in initrun.sh or custom.sh you may also want to check that the editor you used didn't add any windows end-of-

[2022-06-27 21:55] illest23 commented on #1
@guino yes it is placed in the root of the sd card and named only ppsapp with no extension. Yes it played two startup sounds. Those two .she files are fine as well.

[2022-06-29 15:36] damienwolf07 commented on #26
@guino Nope. However, when I put ppsapp on the root of the SD Card it works all night now.
Edit: After power cycling the camera it started doing it again.

[2022-06-30 13:29] damienwolf07 commented on #26
@guino Audio? How can I get the audio feed?

[2022-06-30 13:45] guino commented on #26
@OwensDataCenter audio is only available with RTSP , mjpeg and snap won’t have audio.

[2022-06-30 14:49] damienwolf07 commented on #26
@guino Ok.
I changed the memory size to 57336 on snap and mjpeg and looked at the ppsapp.log file and found this, This was right when it restarted.

00:00:19.657 INFO pps_tuya_media.c:1878]md_common_callback...
snapshot ak_vi_get_frame err,ret:-1,ffffffff
00:00:19.997 INFO pps_device_factory.c:64]we are now in factory mode
18:12:29:779 TUYA Debug][wf_nw_cfg.c:100] Set New Channel 11
00:00:20.104 I

[2022-06-30 18:02] guino commented on #26
@OwensDataCenter some firmware versions will stay in factory mode if posFactoryTool.txt is on the card - please rename or delete the file from rhe SD card and reboot. That file is only needed to get the information from the device for the root process (mjpeg/snap/RTSP should work fine without it).

[2022-06-30 20:42] damienwolf07 commented on #26
@guino fixed, after removing ppsFactoryTool.txt i used a QR Code to get on the network, all works better now, case closed.

[2022-07-06 16:12] guino commented on #1
@illest23 sorry I've been traveling and have not had a chance to double check the patch for you but it is still in my list of things to do so I'll take a look at it when I have a chance (just providing an update).

[2022-07-06 21:58] damienwolf07 commented on #26
@guino Update: After removing all of the CGI scripts and making modifications to most of the files and STILL the camera reboots!
I did the following;
Removed all the CGI scripts
Removed ppsFactoryTool.txt
Set up the camera QR code
And now the camera 'sleeps' (No longer responds to anything, No lights) indefinitely, The CGI scripts are still deleted (At the time of writing this).

[2022-07-06 22:39] damienwolf07 commented on #26
After letting it sit for about 25 minutes it is doing better. But it does not restart! Good!
All it does is go red for about 2 seconds then reconnect to Wi-Fi (The whole thing taking around 15 seconds). Not as bad as before.
But no more black lights, This was after adding the CGI scripts and viewing the mjpeg stream, It will go black again if you don't view the stream for a while but will wake up

[2022-07-07 02:29] damienwolf07 commented on #26
@guino Another update: Put it back in its case and weirdly enough, RTSP works and ONVIF as well.
Every thing was fixed, They are the following;
Black LED (Sleeping when there is no activity)
Wi-Fi Reconnect (Reconnects to the internet randomly)
Constant Restarting (Fix: ppsFactoryTool.txt Removed)
Let's see what happens after a day. At the time of writing this the camera has been working for 1h 7m

[2022-07-07 15:59] damienwolf07 commented on #26
The camera is doing quite well. Good enough to where it barely even bothers me.
This is quite impressive, Sure it will throw a 10-minute fit on startup but after that everything works like it should.

[2022-07-08 13:15] damienwolf07 commented on #26
After a LOT of messing around I found out if that, I do use my phone (the one I used to set up the camera) while using Blue Iris the camera doesn't throw a fit, tries to reconnect to Wi-Fi a lot of times or anything of that sort, it doesn't even restart at all.
This is very strange behavior, and I should note, you should NEVER EVER turn off that onboard LED! You won't know what is going on next ti

[2022-07-08 16:45] damienwolf07 commented on #26
@guino Yay! Finally it actually works! I've been thinking, could you add Pan-Tilt functionality for the Geeni Sentry Pan Tilt camera?
This the camera you're wanting to look for: https://www.amazon.com/dp/B07TDN9PCQ

[2022-07-10 17:13] guino commented on #26
@OwensDataCenter glad it is working now. For pan/tilt functions the camera would have to expose these features somewhere like in a local web service or thru ONVIF (which allows for this type of feature to be controlled). From what I have seen on tuya devices it is unlikely for either of these. It may be possible to control the motors directly thru the linux drivers but without the device to resear

[2022-07-13 14:45] damienwolf07 commented on #26
@guino So I took a look at the board, they look like serial port headers (4 golden contacts) at the edge of the board, I want to use them with an Arduino to make it a Pan-Tilt Camera, I already created some CGI Scripts to blink the LED and do some other custom functions, how can I read and write to that serial port?
Edit: There is a 'tty' device showing up, is that it?

[2022-07-14 04:12] guino commented on #26
@OwensDataCenter the serial pins on the board are usually 4 contacts like you described: VCC, GND, TX and RX (order likely varies) -- these are TTL level logic at 3.3v, so any board (Arduino, Pi, etc) that supports TTL 3.3v should be able to talk to it (anything 5V will likely FRY IT). What you'd get from this header is likely a serial terminal that you can use to mess with the bootloader, there's

[2022-07-18 12:06] jonesMeUp opened #27 "update for hacking instruction #9 telnet"
the "no password" solution for telnet is still working, but generating the hash for the paswd file doesn't work here anymore.
solution:
generate a new password by `passwd -a des admin` and copy the /etc/passwd and /etc/shadow file to /mnt/mmc01/
change custom.sh to copy them back to /etc/
now telnet and ssh can be used with the new password.

[2022-07-18 14:24] guino commented on #27
I just tried the hash site for telnet password and it worked fine on my device ( https://unix4lyfe.org/crypt/ as provided in step 9), that is assuming you used the 'Calculate' button in front of the 'DES Crypt' label. If this is different on your camera it may be helpful to figure out what's different. The hash on these devices should be something like 'UU8EbDbJeGJwM' -- I don't believe it support

[2022-07-18 16:26] jonesMeUp commented on #27
i came from the merkury 1080p site where i got the new files and went back here to do the hack.
my divice is a `Smart Home Camera Bell 8S` with `softwareversion 4.0.7` and `busyBox v1.20.2`
perhaps its only on newer devices with newer busybox, i don't know.
but the merkury720 way didn't worked for me. i used the des crypt, not the md5.

p.s: forgot my raspiZero keyboard adapter in the usb slot and

[2022-07-18 16:27] jonesMeUp commented on #27
pehaps its the

[2022-07-21 12:52] guino commented on #27
@jonesMeUp I only have a Merkury720 (2.7.6) and a Bell 8S (2.9.6) so it is possible that 4.x firmware may have something different but I had not heard any complaints about not being able to use telnet with password until now. I'll keep this in mind and point anyone with issues to try what you posted - thanks.

[2022-07-22 01:26] jonesMeUp commented on #27
well, it seems that i have a bitchy device, ppsapp makes also problems here.
it runs flawless without hack, but when i insert the sd-card with the hack, it needs 1-2min and it reboots.
the log is full off connection tries to tuya server.  looks to me if its a kind of panic button: "lets restart and i can talk
to tuya again..."
but as i use dmesg for the ring event i can live without ppsapp, but mo

[2022-07-25 16:13] guino commented on #1
@illest23 sorry it took so long busy with travel/work/life. I had a chance to review the patch and would like you to try the following:
[ppsapp-rtsp.zip](https://github.com/guino/Merkury720/files/9182962/ppsapp-rtsp.zip)
again, please use the guide here: https://github.com/guino/ppsapp-rtsp/issues/1#issue-759079080

Place the patched ppsapp on the root of the SD card named as **ppsapp** (no .txt,

[2022-07-27 03:30] damienwolf07 commented on #26
@guino it's a good thing that you didn't get one. I had the motherboard of this camera laying around and decided to hook my Arduino up to its RX and TX pins, the username is default with no password, the fs is a mess and many problems put in place, it's a different operating system but parts of the tuya IPC operating system are on it. Most of the IP addresses that I found in the files are Chinese

[2022-07-27 16:00] Randompersonthe commented on #1
@guino the 2.7.10 patch It is working for me able to get the rtsp working fine other then the stream being low fps and freezing is there a better way to view the live feed?

[2022-07-27 16:37] guino commented on #1
@Randompersonthe thanks for the feedback. These devices are very low power and 2.4ghz wifi can be quite crowded and full of interference so that's likely the reason for low fps/lag/freezing (it is my experience at least). My devices always lag when they detect motion (and start a notification/recording), and other times I have slow stream (even from their phone app) when there's congestion on the

[2022-08-14 10:58] #27 closed

[2022-09-11 23:39] derbaertigeFrytz opened #28 "Help needed to patch 2.10.6"
Hello guino , thank you for your work.
I bought a nedis doorbell which uses a board labeled meari bell5s. Here are the relevant information from /devices/deviceinfo
model   "Bell 5S"
softwareversion "2.10.6"
hardwareversion "BE5S_H1_V10_433"
firmwareversion "ppstrong-c51-tuya2_teco2-2.10.6.20210824"

I was able to apply the hack (No programmer, No UART, No problem!) and by reading ppsapp I was abl

[2022-09-11 23:42] derbaertigeFrytz commented on #28
btw. did I understand right, that I do not have access to the audio stream without rtsp?
Regards, Frytz

[2022-09-12 13:55] guino commented on #28
@derbaertigeFrytz Sorry I am traveling and haven´t had a chance to look at it just yet -- I will see what I can do as soon as I can.

You are correct, RTSP/ONVIF is the only way to listen to the audio from the device. Most devices on 2.10 and higher versions allow you to enable ONVIF (which includes RTSP) without patching -- just by enabling it in tuya_config.json (see https://github.com/guino/Baz

[2022-09-13 11:59] derbaertigeFrytz commented on #28
Thank you for your advice. I already tried that without success. May be, I did something wrong.
My device does not have a tuya_config.json file, therefore, I added it to my SD containing
{"onviv":"1"}
which I expected to be correct. I changed custom.sh to copy the file to /home/cfg/ prior to start of ppsapp.
I also uncommented "/mnt/mmc01/set onvif_enable 1".
with telnet, I can see that this works

[2022-09-13 20:09] guino commented on #28
@derbaertigeFrytz I checked your patch and it seems to be perfect (exactly what I did separately).

The only things I can suggest is to make sure the patched ppsapp is on the **root** of the SD card and named `ppsapp` (no .txt, .edit etc). You should hear 2 startup sounds during boot (one from the firmware ppsapp and another from the patched ppsapp).

If you do the above and still get no RTSP, ple

[2022-09-13 22:50] derbaertigeFrytz commented on #28
Thank you that you double checked my patch.
Yes, I can confirm: ppsapp is in the root of the sd card and is executed (two startup sounds). First, I tested with the patched app, then I tested the unpatched app with onvif settings.

I took a "> logfile 2>&1" using the unpatched ppsapp. You will find the output attached.  After a while, messages just repeat. Here is a condensed look on "fail" and "er

[2022-09-13 23:07] derbaertigeFrytz commented on #28
[ppsapp.log.tar.gz](https://github.com/guino/Merkury720/files/9561353/ppsapp.log.tar.gz)
While i made changes to this log, to mask some settings, I am willing to send you the original file via pm if needed.

[2022-09-14 05:08] guino commented on #28
@derbaertigeFrytz I haven’t looked at your files yet but I can tell you these devices stay in ‘enrollment mode’ from factory until you register them in the phone app - only after that is that the rtsp/ONVIF function startup as far as I know. Additionally, if the device can’t access the tuya cloud it won’t update the time and fully startup (ie rtsp/onvif function won’t start) unless we make an offl

[2022-10-26 13:04] #26 closed

[2022-11-22 10:29] tosiara commented on #12
I have got OEM `Tuya MINI7S-A5MB_F37 REV 1_0 2021-06-11` and this rooting method did not work.
Firmware version: `5.2.1`
![image](https://user-images.githubusercontent.com/3600973/203290848-4a6b1712-6f09-441a-a73f-0d9f7db8a5bf.png)

[2022-11-22 12:46] tosiara commented on #18
@guino
Do you have an example how to dump the flash? I could try to solder UART to my device and will test

[2022-11-22 13:52] tosiara commented on #12
I accidentally found your another repo and seems like this is exactly similar device. Going to read that one
https://github.com/guino/Merkury1080P

[2022-11-24 04:05] guino commented on #18
@tosiara in the recent months we found that some 5.2.x versions actually work with our hacks. Namely the 5.0.x versions are known not to work.

The only 'for sure' way of dumping the flash is with a hardware programmer which may require removing the chip from the board using a heat gun (soldering iron will likely damage the board). In order to dump the flash using UART you need to be able to stop

[2022-11-24 04:07] guino commented on #12
@tosiara that is the repo that has worked for some 5.2.x firmware, let us know if it worked for you.

[2022-11-24 07:36] tosiara commented on #12
Moved discussion here: https://github.com/guino/Merkury1080P/issues/46

[2022-11-24 07:37] tosiara commented on #18
Thanks, I'm in a progress of soldering UART. So far identified that UART actually works and u-boot writes something, I;m on the right track. Further findings will be logged here: https://github.com/guino/Merkury1080P/issues/46

[2022-11-25 18:35] guino commented on #18
I replied to your email with some info.